<%= form_for(show_url) do |f| %>
  <% if admin? %>
    <div class="p">
      <%= f.label(:from_user_id, class: "label") %>
      <%= f.select(
        :from_user_id,
        user_options(user_id: f.object.from_user_id),
        {},
        class: "input"
      ) %>
    </div>
    <div class="p">
      <%= f.label(:to_user_id, class: "label") %>
      <%= f.select(
        :to_user_id,
        user_options(user_id: f.object.to_user_id),
        {},
        class: "input"
      ) %>
    </div>
  <% end %>

  <div class="p">
    <%= f.label(:subject, class: "label") %>
    <%= f.rich_textarea(
      :subject,
      placeholder: t(".subject_placeholder"),
      class: "input"
    ) %>
    <div class="text-gray-600"><%= Faker::Lorem.sentence %></div>
  </div>

  <div class="p">
    <%= f.label(:body, class: "label") %>
    <%= f.rich_textarea(:body, placeholder: t(".body_placeholder"), class: "input") %>
    <div class="text-gray-600"><%= Faker::Lorem.paragraph %></div>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
