<% content_for(:title, @message) %>

<%= turbo_stream_from(@message) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @message.id %></div>
</div>

<% if @message.from_user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".from_user") %></div>

    <% if can?(:show, @message.from_user) %>
      <div class="font-bold">
        <%= link_to(@message.from_user, @message.from_user, class: "link") %>
      </div>
    <% else %>
      <div class="font-bold"><%= @message.from_user %></div>
    <% end %>
  </div>
<% end %>

<% if @message.to_user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".to_user") %></div>

    <% if can?(:show, @message.to_user) %>
      <div class="font-bold">
        <%= link_to(@message.to_user, @message.to_user, class: "link") %>
      </div>
    <% else %>
      <div class="font-bold"><%= @message.to_user %></div>
    <% end %>
  </div>
<% end %>

<% if @message.subject.present? %>
  <div class="p">
    <div class="text-gray-600">
      <%= link_to(t(".subject"), [@message, :subject], class: :link) %>
    </div>
    <%= @message.subject %>
  </div>
<% end %>

<% if @message.body.present? %>
  <div class="p">
    <div class="text-gray-600">
      <%= link_to(t(".body"), [@message, :body], class: :link) %>
    </div>
    <%= @message.body %>
  </div>
<% end %>

<div class="p text-gray-600">
  <%= link_to(t(".content"), [@message, :content], class: :link) %>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@message.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@message.created_at) %></div>
</div>

<div class="p">
  <%= link_to(t(".edit"), [:edit, @message], class: "link") %>
  <%= render("shared/confirm", text: t(".delete"), url: @message) %>
</div>
