<%= turbo_stream_from(@job_recurring_executions) %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @job_recurring_executions.any? %>
    <div class="p p--flex">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "job_recurring_executions/job_recurring_execution",
    collection: @job_recurring_executions,
    as: :job_recurring_execution
  ) %>
</turbo-frame>
