<% content_for(:title, @program_schedule) %>

<%= turbo_stream_from(@program_schedule) %>

<% if @program_schedule.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @program_schedule.id %></div>
  </div>
<% end %>

<% if @program_schedule.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @program_schedule.user) %>
  </div>
<% end %>

<% if @program_schedule.program.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".program") %></div>

    <% if can?(:show, @program_schedule.program) %>
      <div class="font-bold">
        <%= link_to(
          @program_schedule.program,
          [@user, @program_schedule.program],
          class: :link
        ) %>
      </div>
    <% else %>
      <div class="font-bold"><%= @program_schedule.program %></div>
    <% end %>
  </div>
<% end %>

<% if @program_schedule.starts_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".starts_at") %></div>
    <div class="font-bold">
      <%= local_time(@program_schedule.starts_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program_schedule.interval.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".interval") %></div>
    <div class="font-bold"><%= @program_schedule.translated_interval %></div>
  </div>
<% end %>

<% if @program_schedule.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold">
      <%= local_time(@program_schedule.updated_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program_schedule.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold">
      <%= local_time(@program_schedule.created_at, format: :default) %>
    </div>
  </div>
<% end %>

<div class="p p--flex">
  <%= link_to(t(".edit"), edit_url, class: :link) %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(t(".versions"), [*nested, @program_schedule, :versions], class: :link) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(
        t(".new_version"),
        [:new, *nested, @program_schedule, :version],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [*nested, @program_schedule]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [*nested, @program_schedule, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(
        t(".new_log"),
        [:new, *nested, @program_schedule, :log],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [*nested, @program_schedule]
    }
  ) %>
<% end %>
