<%= turbo_stream_from(@guests) %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @guests.any? %>
    <div class="p">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(partial: "guests/guest", collection: @guests, as: :guest) %>
</turbo-frame>
