<% content_for(:title, @guest) %>

<%= turbo_stream_from(@guest) %>

<% if @guest.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @guest.id %></div>
  </div>
<% end %>

<% if @guest.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold"><%= local_time(@guest.updated_at) %></div>
  </div>
<% end %>

<% if @guest.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold"><%= local_time(@guest.created_at) %></div>
  </div>
<% end %>

<div class="p">
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<%= render("shared/list", user: @guest, model: Name) %>
<%= render("shared/list", user: @guest, model: Handle) %>
<%= render("shared/list", user: @guest, model: EmailAddress) %>
<%= render("shared/list", user: @guest, model: PhoneNumber) %>
<%= render("shared/list", user: @guest, model: Address) %>
<%= render("shared/list", user: @guest, model: Password) %>
<%= render("shared/list", user: @guest, model: TimeZone) %>
<%= render("shared/list", user: @guest, model: Device) %>
<%= render("shared/list", user: @guest, model: Token) %>
<%= render("shared/list", user: @guest, model: Attachment) %>
<%= render("shared/list", user: @guest, model: Datum) %>
<%= render("shared/list", user: @guest, model: Message) %>
<%= render("shared/list", user: @guest, model: Program) %>
<%= render("shared/list", user: @guest, model: ProgramExecution) %>
<%= render("shared/list", user: @guest, model: ProgramSchedule) %>
<%= render("shared/list", user: @guest, model: ProgramPrompt) %>
<%= render("shared/list", user: @guest, model: ProgramPromptSchedule) %>
<% if admin? %>
  <%= render("shared/list", user: @guest, model: ::Error) %>
  <%= render("shared/list", user: @guest, model: ErrorOccurrence) %>
  <%= render("shared/list", user: @guest, model: Job) %>
<% end %>
