<% content_for(:title, @guest) %>

<%= turbo_stream_from(@guest) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @guest.id %></div>
</div>

<% if @guest.admin? %>
  <div class="p font-bold"><%= t(".admin") %></div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".locale") %></div>
  <div class="font-bold"><%= @guest.translated_locale %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <div class="font-bold"><%= @guest.verified %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@guest.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@guest.created_at) %></div>
</div>

<div class="p">
  <%= render("shared/confirm", text: t(".delete"), url: @guest) %>
</div>

<%= render("shared/list", user: @guest, model: Name) %>
<%= render("shared/list", user: @guest, model: Handle) %>
<%= render("shared/list", user: @guest, model: EmailAddress) %>
<%= render("shared/list", user: @guest, model: PhoneNumber) %>
<%= render("shared/list", user: @guest, model: Address) %>
<%= render("shared/list", user: @guest, model: Password) %>
<%= render("shared/list", user: @guest, model: TimeZone) %>
<%= render("shared/list", user: @guest, model: Device) %>
<%= render("shared/list", user: @guest, model: Token) %>
<%= render("shared/list", user: @guest, model: Attachment, content: false) %>
<%= render("shared/list", user: @guest, model: Datum, content: false) %>
<%= render("shared/list", user: @guest, model: Execution, content: false) %>
<%= render("shared/list", user: @guest, model: Message, content: false, foreign_key: :from_user_id) %>
<%= render("shared/list", user: @guest, model: Message, content: false, foreign_key: :to_user_id) %>
<%= render("shared/list", user: @guest, model: Program, content: false) %>
<%= render("shared/list", user: @guest, model: ProgramExecution, content: false) %>
<%= render("shared/list", user: @guest, model: ProgramPrompt, content: false) %>
<%= render("shared/list", user: @guest, model: ReplProgram, content: false) %>
<%= render("shared/list", user: @guest, model: ReplPrompt, content: false) %>
<%= render("shared/list", user: @guest, model: ReplSession, content: false) %>

<% if admin? %>
  <%= render("shared/list", user: @guest, model: Error) %>
  <%= render("shared/list", user: @guest, model: ErrorOccurrence) %>
  <%= render("shared/list", user: @guest, model: Job) %>
<% end %>
