<%= turbo_stream_from @prompts %>

<%= render "shared/search") %>

<% if @prompts.any? %>
  <div class="p">
    <%= render "shared/confirm", url: destroy_all_url, text: t(".destroy_all") %>
    <%= render "shared/confirm", url: delete_all_url, text: t(".delete_all") %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(partial: "prompts/prompt", collection: @prompts, as: :prompt) %>
</turbo-frame>
