<%= turbo_stream_from(@repl_executions) %>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @repl_executions.any? %>
    <div class="p">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "repl_executions/repl_execution",
    collection: @repl_executions,
    as: :repl_execution
  ) %>
</turbo-frame>
