<div data-controller="nested" data-nested-selector-value=".time-zone">
  <template data-nested-target="template">
    <%= f.fields_for :devices, TimeZone.new, child_index: "NEW_RECORD" do |device_f| %>
      <%= render "devices/nested_form", f: device_f %>
    <% end %>
  </template>

  <%= f.fields_for :devices do |device_f| %>
    <%= render "devices/nested_form", f: device_f %>
  <% end %>

  <div data-nested-target="target"></div>

  <div class="p">
    <button class="button button--link" data-action="nested#add">
      <%= t(".add") %>
    </button>
  </div>
</div>