<div
  class="time-zone border-l border-black pl-5"
  data-new-record="<%= f.object.new_record? %>"
>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>

  <h2 class="font-bold p"><%= t(".device") %></h2>

  <div class="p" data-controller="time-zone">
    <%= f.label :device, class: "label", data: { device_target: "label" } %>
    <%= f.select :device,
             device_options(device: f.object.device),
             {},
             required: true,
             class: "input",
             data: {
               device_target: "input",
               action: "time-zone#input",
               form_type: "other"
             },
             autocomplete: "off" %>
    <div class="text-red-600" hidden data-time-zone-target="error"></div>
    <div class="text-gray-600"><%= TimeZone::TIME_ZONES.sample %></div>
  </div>

  <div class="p">
    <%= f.label :primary, class: "label" %>
    <%= f.check_box :primary, class: "input" %>
  </div>

  <% if admin? %>
    <div class="p">
      <%= f.label :verified, class: "label" %>
      <%= f.check_box :verified, class: "input" %>
    </div>
  <% end %>

  <div class="p">
    <button class="button button--link" data-action="nested#remove">
      <%= t(".remove") %>
    </button>
  </div>
</div>
