<% content_for(:title, @device) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @device.id %></div>
</div>

<% if @device.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <% if can?(:show, @device.user) %>
      <strong><%= link_to @device.user, @device.user, class: "link" %></strong>
    <% else %>
      <strong><%= @device.user %></strong>
    <% end %>
  </div>
<% end %>

<% if @device.platform.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".platform") %></div>
    <strong><%= @device.platform %></strong>
  </div>
<% end %>

<% if @device.token.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".token") %></div>
    <strong><%= @device.token %></strong>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".primary") %></div>
  <strong><%= @device.primary? %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <strong><%= @device.verified? %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <strong><%= local_time(@device.updated_at) %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <strong><%= local_time(@device.created_at) %></strong>
</div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @device], class: "link" %>
  <%= button_to t(".delete"),
            @device,
            method: :delete,
            class: "button button--link",
            form_class: "inline-block" %>
</div>
