<div
  class="example-schedule border-l border-black pl-5"
  data-new-record="<%= f.object.new_record? %>"
>
  <%= f.hidden_field(:id, autocomplete: :off, data: { form_type: :other }) %>
  <%= f.hidden_field(:_destroy, autocomplete: :off, data: { form_type: :other }) %>

  <h2 class="font-bold p"><%= t(".example_schedule") %></h2>

  <div class="p">
    <%= f.label(:starts_at, class: :label) %>
    <%= f.datetime_field(
      :starts_at,
      required: true,
      class: "input example_schedule__starts-at",
      autocomplete: :off,
      data: {
        form_type: :other,
        example_schedule_target: "startsAt"
      }
    ) %>
    <div class="text-gray-600">
      <%= local_time(Time.zone.now, format: :default) %>
    </div>
  </div>

  <div class="p">
    <%= f.label(:interval, class: :label) %>
    <%= f.select(
      :interval,
      example_schedule_interval_options(interval: f.object.interval),
      {},
      required: true,
      class: "input example_schedule__interval",
      data: {
        form_type: :other,
        example_schedule_target: "interval"
      },
      autocomplete: :off
    ) %>
  </div>

  <div class="p">
    <button class="link" data-action="nested#remove">
      <%= t(".remove") %>
    </button>
  </div>
</div>
