<%= turbo_stream_from(@example_schedules) %>

<% if can?(:create, ExampleSchedule) %>
  <div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>
<% end %>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @example_schedules.any? && can?(:destroy_all, ExampleSchedule) %>
    <div class="p">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "example_schedules/example_schedule",
    collection: @example_schedules,
    as: :example_schedule
  ) %>
</turbo-frame>
