<%= form_for(show_url) do |f| %>
  <% content = f.object.errors.include?(:content) ? f.object.content : f.object.content_json %>

  <div
    class="p"
    data-controller="validation"
    data-validation-trim-value="true"
    data-validation-gender-value="masculine"
  >
    <%= f.label(:name, class: :label, data: { validation_target: :label }) %>
    <%= f.text_field(
      :name,
      class: :input,
      required: true,
      data: {
        validation_target: :input,
        action: "validation#input",
        form_type: :other
      },
      autocomplete: :off,
    ) %>
    <div class="text-red-600" hidden data-validation-target="error"></div>
  </div>

  <div class="p" data-controller="editor">
    <%= f.label(:content, class: "label") %>
    <div
      class="flex-1 flex flex-col border border-black rounded overflow-hidden"
    >
      <%= f.hidden_field(:content, value: content, data: { editor_target: "input" }) %>
      <div data-editor-target="editor"></div>
    </div>
    <div class="text-gray-600"><%= Faker::Internet.slug.to_json %></div>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
