<% content_for(:title, @configuration) %>

<%= turbo_stream_from(@configuration) %>

<% if @configuration.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @configuration.id %></div>
  </div>
<% end %>

<% if @configuration.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @configuration.name %></div>
  </div>
<% end %>

<% if @configuration.content.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".content") %></div>
    <div class="code"><%= @configuration.content_json %></div>
  </div>
<% end %>

<% if @configuration.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold"><%= local_time(@configuration.updated_at) %></div>
  </div>
<% end %>

<% if @configuration.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold"><%= local_time(@configuration.created_at) %></div>
  </div>
<% end %>

<div class="p">
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>
