<% content_for(:title, @configuration) %>

<%= turbo_stream_from(@configuration) %>

<% if @configuration.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @configuration.id %></div>
  </div>
<% end %>

<% if @configuration.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @configuration.name %></div>
  </div>
<% end %>

<% if @configuration.content.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".content") %></div>
    <div class="code"><%= @configuration.content_json %></div>
  </div>
<% end %>

<% if @configuration.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold"><%= local_time(@configuration.updated_at) %></div>
  </div>
<% end %>

<% if @configuration.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold"><%= local_time(@configuration.created_at) %></div>
  </div>
<% end %>

<div class="p p--flex">
  <%= link_to(t(".edit"), edit_url, class: :link) %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(t(".versions"), [@configuration, :versions], class: :link) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(t(".new_version"), [:new, @configuration, :version], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [@configuration]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [@configuration, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(t(".new_log"), [:new, @configuration, :log], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [@configuration]
    }
  ) %>
<% end %>
