<%= turbo_stream_from(@jobs) %>

<%= render("shared/search") %>

<% if @jobs.any? %>
  <div class="p">
    <%= render(
      "shared/confirm",
      url: retry_all_url,
      text: t(".retry_all"),
      method: :post
    ) %>
    <%= render(
      "shared/confirm",
      url: discard_all_url,
      text: t(".discard_all"),
      method: :post
    ) %>
    <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
    <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(partial: "jobs/job", collection: @jobs, as: :job) %>
</turbo-frame>
