<% content_for(:title, @job) %>

<%= turbo_stream_from(@job) %>

<% if @job.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @job.id %></div>
  </div>
<% end %>

<% if @job.class_name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".class_name") %></div>
    <div class="font-bold"><%= @job.class_name %></div>
  </div>
<% end %>

<% if @job.priority.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".priority") %></div>
    <div class="font-bold"><%= @job.priority %></div>
  </div>
<% end %>

<% if @job.queue_name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".queue_name") %></div>
    <div class="font-bold"><%= @job.queue_name %></div>
  </div>
<% end %>

<% if @job.arguments.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".arguments") %></div>
    <div class="code"><%= @job.arguments_json %></div>
  </div>
<% end %>

<% if @job.concurrency_key.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".concurrency_key") %></div>
    <div class="font-bold"><%= @job.concurrency_key %></div>
  </div>
<% end %>

<% if @job.scheduled_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".scheduled_at") %></div>
    <div class="font-bold">
      <%= local_time(@job.scheduled_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @job.finished_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".finished_at") %></div>
    <div class="font-bold">
      <%= local_time(@job.finished_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @job.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold">
      <%= local_time(@job.updated_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @job.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold">
      <%= local_time(@job.created_at, format: :default) %>
    </div>
  </div>
<% end %>

<div class="p">
  <%= render(
    "shared/confirm",
    text: t(".retry"),
    url: [*show_url, :retry],
    method: :post
  ) %>
  <%= render(
    "shared/confirm",
    text: t(".discard"),
    url: [*show_url, :discard],
    method: :post
  ) %>
  <%= link_to(t(".edit"), edit_url, class: :link) %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<div class="p font-bold">
  <%= link_to(t(".job_contexts"), [*nested, @job, :job_contexts], class: :link) %>
</div>

<%= render_collection(
  partial: "job_contexts/job_context",
  collection: @job_contexts,
  as: :job_context,
  locals: {
    nested: [*nested, @job]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".job_ready_executions"),
    [*nested, @job, :job_ready_executions],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "job_ready_executions/job_ready_execution",
  collection: @job_ready_executions,
  as: :job_ready_execution,
  locals: {
    nested: [*nested, @job]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".job_failed_executions"),
    [*nested, @job, :job_failed_executions],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "job_failed_executions/job_failed_execution",
  collection: @job_failed_executions,
  as: :job_failed_execution,
  locals: {
    nested: [*nested, @job]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".job_scheduled_executions"),
    [*nested, @job, :job_scheduled_executions],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "job_scheduled_executions/job_scheduled_execution",
  collection: @job_scheduled_executions,
  as: :job_scheduled_execution,
  locals: {
    nested: [*nested, @job]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".job_blocked_executions"),
    [*nested, @job, :job_blocked_executions],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "job_blocked_executions/job_blocked_execution",
  collection: @job_blocked_executions,
  as: :job_blocked_execution,
  locals: {
    nested: [*nested, @job]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".job_claimed_executions"),
    [*nested, @job, :job_claimed_executions],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "job_claimed_executions/job_claimed_execution",
  collection: @job_claimed_executions,
  as: :job_claimed_execution,
  locals: {
    nested: [*nested, @job]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".job_recurring_executions"),
    [*nested, @job, :job_recurring_executions],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "job_recurring_executions/job_recurring_execution",
  collection: @job_recurring_executions,
  as: :job_recurring_execution,
  locals: {
    nested: [*nested, @job]
  }
) %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [*nested, @job, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(t(".new_log"), [:new, *nested, @job, :log], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [*nested, @job]
    }
  ) %>
<% end %>
