<%= form_for program, data: { controller: "generate" } do |f| %>
  <% if admin? %>
    <div class="p">
      <%= f.label :user_id, class: "label" %>
      <%= f.select :user_id, user_options(user_id: f.object.user_id), {}, class: "input" %>
    </div>
  <% end %>

  <div class="p">
    <%= f.label :name, class: "label" %>
    <div class="flex gap-4 items-center">
      <%= f.text_field :name,
                   placeholder: t(".name_placeholder"),
                   class: "input",
                   data: {
                     generate_target: "name",
                     action: "key.enter->generate#generate:prevent"
                   } %>
      <button
        class="button"
        data-action="generate#generate:prevent"
        data-generate-target="button"
        data-loading-text="<%= t(".generating") %>"
        data-initial-text="<%= t(".generate") %>"
      >
        <%= t(".generate") %>
      </button>
    </div>
    <div class="text-gray-600"><%= Faker::Company.name %></div>
  </div>

  <div class="p">
    <%= f.label :input, class: "label" %>
    <%= f.text_area :input,
                placeholder: t(".input_placeholder"),
                class: "input input--code",
                data: {
                  generate_target: "input"
                } %>
    <div class="text-gray-600"><%= t(".fake_input") %></div>
  </div>

  <%= render "schedules/nested", f: f %>

  <div class="p">
    <%= f.submit submit,
             class: "button",
             data: {
               controller: "bridge--button",
               bridge__button_title_value: submit
             } %>
  </div>
<% end %>
