<%= turbo_stream_from(@programs) %>

<div class="p">
  <%= link_to(t(".program_prompts"), [@user, :program_prompts], class: "link") %>
</div>

<div class="p">
  <%= link_to(t(".program_schedules"), [@user, :program_schedules], class: "link") %>
</div>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<% if @programs.any? %>
  <div class="p">
    <%= render(
      "shared/confirm",
      url: [:destroy_all, *index_url],
      text: t(".destroy_all")
    ) %>
    <%= render("shared/confirm", url: [:delete_all, *index_url], text: t(".delete_all")) %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(
    partial: "programs/program",
    collection: @programs,
    as: :program
  ) %>
</turbo-frame>
