<%= turbo_stream_from(@programs) %>

<div class="p">
  <%= link_to(t(".examples", count: @examples.size), :examples, class: "link") %>
</div>

<div class="p">
  <%= link_to(t(".data", count: @data.size), [@user || @guest, :data], class: "link") %>
</div>

<div class="p">
  <%= link_to(
    t(".attachments", count: @attachments.size),
    [@user || @guest, :attachments],
    class: "link"
  ) %>
</div>

<div class="p">
  <%= link_to(
    t(".repl_sessions", count: @repl_sessions.size),
    [@user || @guest, :repl_sessions],
    class: "link"
  ) %>
</div>

<% if @repl_programs.any? %>
  <div class="p">
    <%= link_to(
      t(".repl_programs", count: @repl_programs.size),
      [@user || @guest, :repl_programs],
      class: "link"
    ) %>
  </div>
<% end %>

<% if @repl_prompts.any? %>
  <div class="p">
    <%= link_to(
      t(".repl_prompts", count: @repl_prompts.size),
      [@user || @guest, :repl_prompts],
      class: "link"
    ) %>
  </div>
<% end %>

<% if @repl_executions.any? %>
  <div class="p">
    <%= link_to(
      t(".repl_executions", count: @repl_executions.size),
      [@user || @guest, :repl_executions],
      class: "link"
    ) %>
  </div>
<% end %>

<% if @program_executions.any? %>
  <div class="p">
    <%= link_to(
      t(".program_executions", count: @program_executions.size),
      [@user || @guest, :program_executions],
      class: "link"
    ) %>
  </div>
<% end %>

<% if @program_prompts.any? %>
  <div class="p">
    <%= link_to(
      t(".program_prompts", count: @program_prompts.size),
      [@user || @guest, :program_prompts],
      class: "link"
    ) %>
  </div>
<% end %>

<% if @program_schedules.any? %>
  <div class="p">
    <%= link_to(
      t(".program_schedules", count: @program_schedules.size),
      [@user || @guest, :program_schedules],
      class: "link"
    ) %>
  </div>
<% end %>

<% if @program_prompt_schedules.any? %>
  <div class="p">
    <%= link_to(
      t(".program_prompt_schedules", count: @program_prompt_schedules.size),
      [@user || @guest, :program_prompt_schedules],
      class: "link"
    ) %>
  </div>
<% end %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @programs.any? %>
    <div class="p">
      <%= render(
        "shared/confirm",
        url: [:schedule_all, *index_url],
        text: t(".schedule_all"),
        method: :patch
      ) %>
      <%= render(
        "shared/confirm",
        url: [:unschedule_all, *index_url],
        text: t(".unschedule_all"),
        method: :patch
      ) %>
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "programs/program",
    collection: @programs,
    as: :program
  ) %>
</turbo-frame>
