<% content_for(:title, @program) %>

<%= turbo_stream_from(@program) %>

<% if @program.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @program.id %></div>
  </div>
<% end %>

<% if @program.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @program.user) %>
  </div>
<% end %>

<% if @program.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @program.name %></div>
  </div>
<% end %>

<% if @program.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="code"><%= @program.input %></div>
  </div>
<% end %>

<% if @program.scheduled.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".scheduled") %></div>
    <div class="font-bold"><%= @program.scheduled %></div>
  </div>
<% end %>

<% if @program.starts_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".starts_at") %></div>
    <div class="font-bold">
      <%= local_time(@program.starts_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program.previous_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".previous_at") %></div>
    <div class="font-bold">
      <%= local_time(@program.previous_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program.next_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".next_at") %></div>
    <div class="font-bold">
      <%= local_time(@program.next_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold">
      <%= local_time(@program.updated_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold">
      <%= local_time(@program.created_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program.scheduled? %>
  <div class="p">
    <%= render(
      "shared/confirm",
      text: t(".unschedule"),
      url: [*show_url, :unschedule],
      method: :post
    ) %>
  </div>
<% else %>
  <div class="p">
    <%= render(
      "shared/confirm",
      text: t(".schedule"),
      url: [*show_url, :schedule],
      method: :post
    ) %>
  </div>
<% end %>

<div class="p">
  <%= render(
    "shared/confirm",
    text: t(".evaluate"),
    url: [*show_url, :evaluate],
    method: :post,
    class: "button"
  ) %>
</div>

<div class="p p--flex">
  <%= link_to(t(".edit"), edit_url, class: :link) %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<div class="p font-bold">
  <%= link_to(
    t(".program_schedules"),
    [@user, @program, :program_schedules],
    class: :link
  ) %>
</div>

<% if can?(:create, ProgramSchedule) %>
  <div class="p">
    <%= link_to(
      t(".new_program_schedule"),
      [:new, @user, @program, :program_schedule],
      class: "button"
    ) %>
  </div>
<% end %>

<%= render_collection(
  partial: "program_schedules/program_schedule",
  collection: @program_schedules,
  as: :program_schedule,
  locals: {
    nested: [@user, @program]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".program_executions"),
    [@user, @program, :program_executions],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "program_executions/program_execution",
  collection: @program_executions,
  as: :program_execution,
  locals: {
    nested: [@user, @program]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".program_prompts"),
    [@user, @program, :program_prompts],
    class: :link
  ) %>
</div>

<%= render_collection(
  partial: "program_prompts/program_prompt",
  collection: @program_prompts,
  as: :program_prompt,
  locals: {
    nested: [@user, @program]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".program_prompt_schedules"),
    [@user, @program, :program_prompt_schedules],
    class: :link
  ) %>
</div>

<% if can?(:create, ProgramPromptSchedule) %>
  <div class="p">
    <%= link_to(
      t(".new_program_prompt_schedule"),
      [:new, @user, @program, :program_prompt_schedule],
      class: "button"
    ) %>
  </div>
<% end %>

<%= render_collection(
  partial: "program_prompt_schedules/program_prompt_schedule",
  collection: @program_prompt_schedules,
  as: :program_prompt_schedule,
  locals: {
    nested: [@user, @program]
  }
) %>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(t(".versions"), [@user, @program, :versions], class: :link) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(t(".new_version"), [:new, @user, @program, :version], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [@user, @program]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [@user, @program, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(t(".new_log"), [:new, @user, @program, :log], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [@user, @program]
    }
  ) %>
<% end %>
