<% content_for(:title, @program) %>

<%= turbo_stream_from(@program) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @program.id %></div>
</div>

<% if @program.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @program.user) %>
  </div>
<% end %>

<% if @program.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @program.name %></div>
  </div>
<% end %>

<% if @program.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="code"><%= @program.input %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@program.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@program.created_at) %></div>
</div>

<% if @program.scheduled_at? %>
  <div class="p">
    <%= t(".scheduled_html", local_time: local_time(@program.scheduled_at)) %>
    <%= render(
      "shared/confirm",
      text: t(".unschedule"),
      url: [*show_url, :unschedule],
      method: :post
    ) %>
    <%= render(
      "shared/confirm",
      text: t(".reschedule"),
      url: [*show_url, :reschedule],
      method: :post
    ) %>
  </div>
<% elsif @program.next_at? %>
  <div class="p">
    <%= t(".not_scheduled_html", local_time: local_time(@program.next_at)) %>
    <%= render(
      "shared/confirm",
      text: t(".schedule"),
      url: [*show_url, :schedule],
      method: :post
    ) %>
  </div>
<% end %>

<div class="p">
  <%= render(
    "shared/confirm",
    text: t(".evaluate"),
    url: [*show_url, :evaluate],
    method: :post,
    class: "button"
  ) %>
</div>

<div class="p">
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".delete"), url: show_url) %>
</div>

<div class="p font-bold">
  <%= link_to(
    t(".program_schedules"),
    [@user, @program, :program_schedules],
    class: "link"
  ) %>
</div>

<div class="p">
  <%= link_to(
    t(".new_program_schedule"),
    [:new, @user, @program, :program_schedule],
    class: "button"
  ) %>
</div>

<%= render_collection(
  partial: "program_schedules/program_schedule",
  collection: @program_schedules,
  as: :program_schedule,
  locals: {
    nested: [@user, @program]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".program_executions"),
    [@user, @program, :program_executions],
    class: "link"
  ) %>
</div>

<%= render_collection(
  partial: "program_executions/program_execution",
  collection: @program_executions,
  as: :program_execution,
  locals: {
    nested: [@user, @program]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".program_prompts"),
    [@user, @program, :program_prompts],
    class: "link"
  ) %>
</div>

<%= render_collection(
  partial: "program_prompts/program_prompt",
  collection: @program_prompts,
  as: :program_prompt,
  locals: {
    nested: [@user, @program]
  }
) %>

<div class="p font-bold">
  <%= link_to(
    t(".program_prompt_schedules"),
    [@user, @program, :program_prompt_schedules],
    class: "link"
  ) %>
</div>

<div class="p">
  <%= link_to(
    t(".new_program_prompt_schedule"),
    [:new, @user, @program, :program_prompt_schedule],
    class: "button"
  ) %>
</div>

<%= render_collection(
  partial: "program_prompt_schedules/program_prompt_schedule",
  collection: @program_prompt_schedules,
  as: :program_prompt_schedule,
  locals: {
    nested: [@user, @program]
  }
) %>
