<% content_for(:title, @program) %>

<%= turbo_stream_from @program %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @program.id %></div>
</div>

<% if @program.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <% if can?(:show, @program.user) %>
      <div class="font-bold">
        <%= link_to @program.user, @program.user, class: "link" %>
      </div>
    <% else %>
      <div class="font-bold"><%= @program.user %></div>
    <% end %>
  </div>
<% end %>

<% if @program.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @program.name %></div>
  </div>
<% end %>

<% if @program.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="code"><%= @program.input %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@program.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@program.created_at) %></div>
</div>

<% if @program.scheduled_at? %>
  <div class="p">
    <%= t(".scheduled_html", local_time: local_time(@program.scheduled_at)) %>
    <%= render "shared/confirm",
           text: t(".unschedule"),
           url: [@program, :unschedule],
           method: :post %>
  </div>
<% elsif @program.next_at? %>
  <div class="p">
    <%= t(".not_scheduled_html", local_time: local_time(@program.next_at)) %>
    <%= render "shared/confirm",
           text: t(".schedule"),
           url: [@program, :schedule],
           method: :post %>
  </div>
<% end %>

<div class="p">
  <%= button_to t(".evaluate"), [@program, :evaluate], method: :post, class: "button" %>
</div>

<div class="p">
  <%= link_to t(".edit"), [@user, :edit, @program], class: "link" %>
  <%= render "shared/confirm", text: t(".delete"), url: [@user, @program] %>
</div>

<div class="p font-bold">
  <%= link_to t(".schedules"), [@program, :schedules], class: "link" %>
</div>

<div class="p">
  <%= link_to t(".new_schedule"), [:new, @program, :schedule], class: "button" %>
</div>

<%= render_collection partial: "schedules/schedule",
                  collection: @schedules,
                  as: :schedule %>

<div class="p font-bold">
  <%= link_to t(".executions"), [@program, :executions], class: "link" %>
</div>

<%= render_collection partial: "executions/execution",
                  collection: @executions,
                  as: :execution %>
