<% content_for(:title, @submission_delivery) %>

<%= turbo_stream_from(@submission_delivery) %>

<% if can?(:update, @submission_delivery) %>
  <% if @submission_delivery.id.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".id") %></div>
      <div class="font-bold"><%= @submission_delivery.id %></div>
    </div>
  <% end %>
<% end %>

<% if @submission_delivery.submission.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".submission") %></div>
    <% if can?(:show, @submission_delivery.submission) %>
      <%= link_to(
        @submission_delivery.submission,
        @submission_delivery.submission,
        class: :link
      ) %>
    <% else %>
      <div class="font-bold"><%= @submission_delivery.submission %></div>
    <% end %>
  </div>
<% end %>

<% if @submission_delivery.submission_section.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".submission_section") %></div>
    <% if can?(:show, @submission_delivery.submission_section) %>
      <%= link_to(
        @submission_delivery.submission_section,
        [@submission, @submission_delivery.submission_section].compact,
        class: :link
      ) %>
    <% else %>
      <div class="font-bold">
        <%= @submission_delivery.submission_section %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @submission_delivery.locale.present? && can?(:update, @submission_delivery) %>
  <div class="p">
    <div class="text-gray-600"><%= t(".locale") %></div>
    <div class="font-bold"><%= @submission_delivery.locale %></div>
  </div>
<% end %>

<% if @submission_delivery.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @submission_delivery.name %></div>
  </div>
<% end %>

<% if @submission_delivery.description.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".description") %></div>
    <div class="content">
      <%= simple_format(@submission_delivery.description, {}, wrapper_tag: :div) %>
    </div>
  </div>
<% end %>

<% if can?(:update, @submission_delivery) %>
  <% if @submission_delivery.updated_at.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".updated_at") %></div>
      <div class="font-bold">
        <%= local_time(@submission_delivery.updated_at, format: :default) %>
      </div>
    </div>
  <% end %>

  <% if @submission_delivery.created_at.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".created_at") %></div>
      <div class="font-bold">
        <%= local_time(@submission_delivery.created_at, format: :default) %>
      </div>
    </div>
  <% end %>

  <div class="p">
    <%= link_to(t(".edit"), edit_url, class: :link) %>
    <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
    <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
  </div>
<% end %>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(
      t(".versions"),
      [*nested, @submission_delivery, :versions],
      class: :link
    ) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(
        t(".new_version"),
        [:new, *nested, @submission_delivery, :version],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [*nested, @submission_delivery]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [*nested, @submission_delivery, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(
        t(".new_log"),
        [:new, *nested, @submission_delivery, :log],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [*nested, @submission_delivery]
    }
  ) %>
<% end %>
