<%= turbo_stream_from(@repl_prompts) %>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @repl_prompts.any? %>
    <div class="p">
      <%= render(
        "shared/confirm",
        url: [:destroy_all, *index_url],
        text: t(".destroy_all")
      ) %>
      <%= render("shared/confirm", url: [:delete_all, *index_url], text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "repl_prompts/repl_prompt",
    collection: @repl_prompts,
    as: :repl_prompt
  ) %>
</turbo-frame>
