<% content_for(:title, @repl_prompt) %>

<%= turbo_stream_from(@repl_prompt) %>

<% if @repl_prompt.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @repl_prompt.id %></div>
  </div>
<% end %>

<% if @repl_prompt.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @repl_prompt.user) %>
  </div>
<% end %>

<% if @repl_prompt.repl_session.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".repl_session") %></div>
    <% if can?(:show, @repl_prompt.repl_session) %>
      <div class="font-bold">
        <%= link_to(
          @repl_prompt.repl_session,
          [@user, @repl_prompt.repl_session],
          class: "link"
        ) %>
      </div>
    <% else %>
      <div class="font-bold"><%= @repl_prompt.repl_session %></div>
    <% end %>
  </div>
<% end %>

<% if @repl_prompt.repl_program.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".repl_program") %></div>
    <% if can?(:show, @repl_prompt.repl_program) %>
      <div class="font-bold">
        <%= link_to(
          @repl_prompt.repl_program,
          [@user, @repl_session, @repl_prompt.repl_program],
          class: "link"
        ) %>
      </div>
    <% else %>
      <div class="font-bold"><%= @repl_prompt.repl_program %></div>
    <% end %>
  </div>
<% end %>

<% if @repl_prompt.status.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".status") %></div>
    <div class="font-bold"><%= @repl_prompt.translated_status %></div>
  </div>
<% end %>

<% if @repl_prompt.error_class.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".error_class") %></div>
    <div class="font-bold"><%= @repl_prompt.error_class %></div>
  </div>
<% end %>

<% if admin? %>
  <% if @repl_prompt.error_message.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_message") %></div>
      <div class="code"><%= @repl_prompt.error_message %></div>
    </div>
  <% end %>

  <% if @repl_prompt.error_app_backtrace.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_app_backtrace") %></div>
      <div class="code"><%= @repl_prompt.error_app_backtrace %></div>
    </div>
  <% end %>

  <% if @repl_prompt.error_backtrace.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_backtrace") %></div>
      <div class="code"><%= @repl_prompt.error_backtrace %></div>
    </div>
  <% end %>
<% end %>

<% if @repl_prompt.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="font-bold"><%= @repl_prompt.input %></div>
  </div>
<% end %>

<% if @repl_prompt.output.present? %>
  <% if @repl_prompt.output_input? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".output_input") %></div>
      <div class="code"><%= @repl_prompt.output_input %></div>
    </div>
  <% else %>
    <div class="p">
      <div class="text-gray-600"><%= t(".output") %></div>
      <div class="code"><%= JSON.pretty_generate(@repl_prompt.output) %></div>
    </div>
  <% end %>
<% end %>

<% if @repl_prompt.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold"><%= local_time(@repl_prompt.updated_at) %></div>
  </div>
<% end %>

<% if @repl_prompt.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold"><%= local_time(@repl_prompt.created_at) %></div>
  </div>
<% end %>

<div class="p">
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>
