<%= turbo_stream_from @executions %>

<%= render "shared/search") %>

<% if @executions.any? %>
  <div class="p">
    <%= render "shared/confirm", url: destroy_all_url, text: t(".destroy_all") %>
    <%= render "shared/confirm", url: delete_all_url, text: t(".delete_all") %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(
    partial: "executions/execution",
    collection: @executions,
    as: :execution
  ) %>
</turbo-frame>
