<% content_for(:title, @execution) %>

<%= turbo_stream_from @execution %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @execution.id %></div>
</div>

<% if @execution.program.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".program") %></div>

    <% if can?(:show, @execution.program) %>
      <div class="font-bold">
        <%= link_to @execution.program, @execution.program, class: "link" %>
      </div>
    <% else %>
      <div class="font-bold"><%= @execution.program %></div>
    <% end %>
  </div>
<% end %>

<% if @execution.output.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".output") %></div>
    <div class="code"><%= @execution.output %></div>
  </div>
<% end %>

<% if @execution.result.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".result") %></div>
    <div class="code"><%= @execution.result %></div>
  </div>
<% end %>

<% if @execution.error.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".error") %></div>
    <div class="code"><%= @execution.error %></div>
  </div>
<% end %>

<% if @execution.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="code"><%= @execution.input %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@execution.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@execution.created_at) %></div>
</div>

<div class="p">
  <%= render "shared/confirm", text: t(".delete"), url: @execution %>
</div>
