<% content_for(:title, @execution) %>

<% if @execution.program.present? %>
  <div class="p">
    <span class="text-gray-600"><%= t(".program") %></span>

    <% if can?(:show, @execution.program) %>
      <span class="font-bold"><%= link_to @execution.program, @execution.program, class: "underline" %></span>
    <% else %>
      <span class="font-bold"><%= @execution.program %></span>
    <% end %>
  </div>
<% end %>

<% if @execution.output.present? %>
  <div class="p">
    <span class="text-gray-600"><%= t(".output") %></span>
    <code><%= @execution.output %></code>
  </div>
<% end %>

<% if @execution.result.present? %>
  <div class="p">
    <span class="text-gray-600"><%= t(".result") %></span>
    <code><%= @execution.result %></code>
  </div>
<% end %>

<% if @execution.error.present? %>
  <div class="p">
    <span class="text-gray-600"><%= t(".error") %></span>
    <code><%= @execution.error %></code>
  </div>
<% end %>

<% if @execution.input.present? %>
  <div class="p">
    <span class="text-gray-600"><%= t(".input") %></span>
    <code><%= @execution.input %></code>
  </div>
<% end %>

<div class="p">
  <span class="text-gray-600"><%= t(".updated_at") %></span>
  <span class="font-bold"><%= local_time(@execution.updated_at) %></span>
</div>

<div class="p">
  <span class="text-gray-600"><%= t(".created_at") %></span>
  <span class="font-bold"><%= local_time(@execution.created_at) %></span>
</div>

<div class="p">
  <%= button_to t(".delete"), @execution, method: :delete, class: "underline", form_class: "inline-block" %>
</div>