<% content_for(:title, @execution) %>

<%= turbo_stream_from(@execution) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @execution.id %></div>
</div>

<% if @execution.program.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".program") %></div>

    <% if can?(:show, @execution.program) %>
      <div class="font-bold">
        <%= link_to(@execution.program, @execution.program, class: "link") %>
      </div>
    <% else %>
      <div class="font-bold"><%= @execution.program %></div>
    <% end %>
  </div>
<% end %>

<% if @execution.status.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".status") %></div>
    <div class="font-bold"><%= @execution.translated_status %></div>
  </div>
<% end %>

<% if @execution.output.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".output") %></div>
    <div class="code"><%= @execution.output %></div>
  </div>
<% end %>

<% if @execution.result.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".result") %></div>
    <div class="code"><%= @execution.result %></div>
  </div>
<% end %>

<% if @execution.error.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".error") %></div>
    <div class="font-bold"><%= @execution.error %></div>
  </div>
<% end %>

<% if @execution.error_class.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".error_class") %></div>
    <div class="font-bold"><%= @execution.error_class %></div>
  </div>
<% end %>

<% if admin? %>
  <% if @execution.error_message.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_message") %></div>
      <div class="code"><%= @execution.error_message %></div>
    </div>
  <% end %>

  <% if @execution.error_app_backtrace.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_app_backtrace") %></div>
      <div class="code"><%= @execution.error_app_backtrace %></div>
    </div>
  <% end %>

  <% if @execution.error_backtrace.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_backtrace") %></div>
      <div class="code"><%= @execution.error_backtrace %></div>
    </div>
  <% end %>
<% end %>

<% if @execution.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="code"><%= @execution.input %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@execution.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@execution.created_at) %></div>
</div>

<div class="p">
  <%= render("shared/confirm", text: t(".delete"), url: @execution) %>
</div>
