<%= turbo_stream_from(@job_claimed_executions) %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @job_claimed_executions.any? %>
    <div class="p p--flex">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "job_claimed_executions/job_claimed_execution",
    collection: @job_claimed_executions,
    as: :job_claimed_execution
  ) %>
</turbo-frame>
