<% content_for(:title, @user) %>

<%= turbo_stream_from(@user) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @user.id %></div>
</div>

<% if @user.admin? %>
  <div class="p font-bold"><%= t(".admin") %></div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".locale") %></div>
  <div class="font-bold"><%= @user.translated_locale %></div>
</div>

<% if @user.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @user.name %></div>
  </div>
<% end %>

<% if @user.handle.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".handle") %></div>
    <div class="font-bold"><%= @user.handle %></div>
  </div>
<% end %>

<% if @user.email_address.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".email_address") %></div>
    <div class="font-bold"><%= @user.email_address %></div>
  </div>
<% end %>

<% if @user.phone_number.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".phone_number") %></div>
    <div class="font-bold"><%= @user.phone_number %></div>
  </div>
<% end %>

<% if @user.address.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".address") %></div>
    <div class="font-bold"><%= @user.address %></div>
  </div>
<% end %>

<% if @user.password.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".password") %></div>
    <div class="font-bold"><%= @user.password %></div>
  </div>
<% end %>

<% if @user.time_zone.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".time_zone") %></div>
    <div class="font-bold"><%= @user.time_zone %></div>
  </div>
<% end %>

<% if @user.device.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".device") %></div>
    <div class="font-bold"><%= @user.device %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <div class="font-bold"><%= @user.verified %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@user.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@user.created_at) %></div>
</div>

<div class="p">
  <% if admin? %>
    <%= render(
      "shared/confirm",
      text: t(".impersonate"),
      url: [*show_url, :impersonate],
      method: :post
    ) %>
  <% end %>
  <%= render("shared/confirm", text: t(".log_out"), url: :session) %>
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".delete"), url: show_url) %>
</div>

<%= render("shared/list", user: @user, model: Name) %>
<%= render("shared/list", user: @user, model: Handle) %>
<%= render("shared/list", user: @user, model: EmailAddress) %>
<%= render("shared/list", user: @user, model: PhoneNumber) %>
<%= render("shared/list", user: @user, model: Address) %>
<%= render("shared/list", user: @user, model: Password) %>
<%= render("shared/list", user: @user, model: TimeZone) %>
<%= render("shared/list", user: @user, model: Device) %>
<%= render("shared/list", user: @user, model: Token) %>
<%= render("shared/list", user: @user, model: Attachment) %>
<%= render("shared/list", user: @user, model: Datum) %>
<%= render("shared/list", user: @user, model: Message) %>
<%= render("shared/list", user: @user, model: Program) %>
<%= render("shared/list", user: @user, model: ProgramExecution) %>
<%= render("shared/list", user: @user, model: ProgramPrompt) %>
<%= render("shared/list", user: @user, model: ReplExecution) %>
<%= render("shared/list", user: @user, model: ReplProgram) %>
<%= render("shared/list", user: @user, model: ReplPrompt) %>
<%= render("shared/list", user: @user, model: ReplSession) %>

<% if admin? %>
  <%= render("shared/list", user: @user, model: ::Error) %>
  <%= render("shared/list", user: @user, model: ErrorOccurrence) %>
  <%= render("shared/list", user: @user, model: Job, content: false) %>
<% end %>
