<% if reference.present? %>
  <% doc = docs.detect { |parent| parent["name"] == reference } %>

  <div class="p font-bold">
    <%= doc["name"] %>

    <% if doc["parent"].present? %>
      &lt; <%= doc["parent"] %>
    <% end %>
  </div>

  <%= render "docs/examples", examples: doc["examples"] %>
  <%= render "docs/functions", type: :class_functions, doc: doc, docs: docs %>
  <%= render "docs/functions", type: :instance_functions, doc: doc, docs: docs %>
<% end %>
