<div class="p"><%= link_to(t(".examples"), :examples, class: "link") %></div>

<% @docs.each do |doc| %>
  <details>
    <summary class="p font-bold">
      <%= link_to(doc["name"], doc_path(doc["name"]), class: "link") %>
    </summary>

    <%= render("docs/examples", examples: doc["examples"]) %>
    <%= render("docs/functions", type: :class_functions, doc: doc, docs: @docs) %>
    <%= render("docs/functions", type: :instance_functions, doc: doc, docs: @docs) %>
    <%= render("docs/reference", reference: doc["reference"], docs: @docs) %>
  </details>
<% end %>
