<% content_for(:title) do %>
  <%= @doc["name"] %>

  <% if @doc["parent"].present? %>
    &lt; <%= @doc["parent"] %>
  <% end %>
<% end %>

<% if @class.present? %>
  <div class="p">
    <%= link_to(@class["name"], doc_path(@class["name"]), class: "link") %>
  </div>
<% end %>

<%= render "docs/examples", examples: @doc["examples"] %>
<%= render "docs/functions", type: :class_functions, doc: @doc, docs: @docs %>
<%= render "docs/functions", type: :instance_functions, doc: @doc, docs: @docs %>
<%= render "docs/reference", reference: @doc["reference"], docs: @docs %>
