<div
  data-generate-target="nested"
  data-controller="nested"
  data-nested-selector-value=".schedule"
  data-action="nested.schedules->nested#schedules"
>
  <template data-nested-target="template">
    <%= f.fields_for :schedules, Schedule.new, child_index: "NEW_RECORD" do |schedule_f| %>
      <%= render "schedules/nested_form", f: schedule_f %>
    <% end %>
  </template>

  <%= f.fields_for :schedules do |schedule_f| %>
    <%= render "schedules/nested_form", f: schedule_f %>
  <% end %>

  <div data-nested-target="target"></div>

  <div class="p">
    <button class="button button--link" data-action="nested#add">
      <%= t(".add") %>
    </button>
  </div>
</div>
