<% content_for(:title) do %>
  <% if @schedule.once? %>
    <%= t(
      ".schedule_once_html",
      local_time: local_time(@schedule.starts_at),
      interval: @schedule.translated_interval
    ) %>
  <% else %>
    <%= t(
      ".schedule_html",
      local_time: local_time(@schedule.starts_at),
      interval: @schedule.translated_interval
    ) %>
  <% end %>
<% end %>

<% if @schedule.program.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".program") %></div>

    <% if can?(:show, @schedule.program) %>
      <div class="font-bold">
        <%= link_to @schedule.program, @schedule.program, class: "underline" %>
      </div>
    <% else %>
      <div class="font-bold"><%= @schedule.program %></div>
    <% end %>
  </div>
<% end %>

<% if @schedule.starts_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".starts_at") %></div>
    <div class="font-bold"><%= local_time(@schedule.starts_at) %></div>
  </div>
<% end %>

<% if @schedule.interval.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".interval") %></div>
    <div class="font-bold"><%= @schedule.translated_interval %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@schedule.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@schedule.created_at) %></div>
</div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @schedule], class: "underline" %>
  <%= button_to t(".delete"),
            @schedule,
            method: :delete,
            class: "underline",
            form_class: "inline-block" %>
</div>
