<%= form_for(show_url) do |f| %>
  <div class="p">
    <%= f.label(:job_id, class: :label) %>
    <%= f.number_field(
      :job_id,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.label(:queue_name, class: :label) %>
    <%= f.text_field(
      :queue_name,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.label(:priority, class: :label) %>
    <%= f.number_field(
      :priority,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
