<% content_for(:title, @job_ready_execution) %>

<%= turbo_stream_from(@job_ready_execution) %>

<% if @job_ready_execution.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @job_ready_execution.id %></div>
  </div>
<% end %>

<% if @job_ready_execution.job.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".job") %></div>

    <% if can?(:show, @job_ready_execution.job) %>
      <div class="font-bold">
        <%= link_to(
          @job_ready_execution.job,
          [*nested(job: nil), @job_ready_execution.job],
          class: :link
        ) %>
      </div>
    <% else %>
      <div class="font-bold"><%= @job_ready_execution.job %></div>
    <% end %>
  </div>
<% else %>
  <div class="p">
    <div class="text-gray-600"><%= t(".job_id") %></div>
    <div class="font-bold"><%= @job_ready_execution.job_id %></div>
  </div>
<% end %>

<% if @job_ready_execution.queue_name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".queue_name") %></div>
    <div class="font-bold"><%= @job_ready_execution.queue_name %></div>
  </div>
<% end %>

<% if @job_ready_execution.priority.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".priority") %></div>
    <div class="font-bold"><%= @job_ready_execution.priority %></div>
  </div>
<% end %>

<% if @job_ready_execution.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold">
      <%= local_time(@job_ready_execution.updated_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @job_ready_execution.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold">
      <%= local_time(@job_ready_execution.created_at, format: :default) %>
    </div>
  </div>
<% end %>

<div class="p p--flex">
  <%= link_to(t(".edit"), edit_url, class: :link) %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [*nested, @job_ready_execution, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(
        t(".new_log"),
        [:new, *nested, @job_ready_execution, :log],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [*nested, @job_ready_execution]
    }
  ) %>
<% end %>
