<% data = local_assigns.fetch(:data, {}) %>
<% title = local_assigns.fetch(:title, "") %>
<% description = local_assigns.fetch(:description, "") %>
<% confirm = local_assigns.fetch(:confirm, t(".confirm")) %>
<% cancel = local_assigns.fetch(:cancel, t(".cancel")) %>
<% destructive = local_assigns.fetch(:destructive, false) %>
<% confirm_classes =
  local_assigns.fetch(
    :confirm_classes,
    destructive ? "button button--red" : "button"
  ) %>
<% cancel_classes = local_assigns.fetch(:cancel_classes, "link") %>

<%= content_tag(
  :div,
  hidden: true,
  class:
    "bg-black cursor-pointer fixed inset-0 flex items-center justify-center z-1",
  data:
    data.merge(
      controller: "modal",
      action:
        "
        #{data[:action]}
        click->modal#hide
        keydown.esc->modal#escape
      "
    )
) do %>
  <div
    class="w-xs bg-white p-4 rounded cursor-default"
    data-action="click->modal#nothing:stop"
  >
    <div class="p flex justify-end">
      <a class="cursor-pointer" data-action="modal#close">
        <%= heroicon "x-mark") %>
      </a>
    </div>
    <% if title.present? %>
      <div class="p font-bold text-center"><%= title %></div>
    <% end %>
    <% if description.present? %>
      <div class="p"><%= description %></div>
    <% end %>
    <div class="flex justify-between items-center">
      <% if cancel.present? %>
        <%= link_to(
          cancel,
          "",
          data: {
            action: "modal#cancel:prevent"
          },
          class: cancel_classes
        ) %>
      <% end %>
      <% if confirm.present? %>
        <%= link_to(
          confirm,
          "",
          data: {
            action: "modal#confirm:prevent"
          },
          class: confirm_classes
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
