<% advanced_open = true %>
<%# default_type = :key_value %>
<% default_type = :free_field %>

<form
  data-controller="search"
  data-search-default-type-value="<%= default_type %>"
  data-search-advanced-open-value="<%= advanced_open %>"
>
  <div class="p">
    <%= text_field_tag "search[q]", params.dig(:search, :q), placeholder: t(".placeholder"), class: "input" %>
    <%= submit_tag t(".submit"), class: "button" %>
  </div>

  <details
    class="pl-4 border-l border-black"
    data-action="search#toggleAdvanced"
    data-search-target="advanced"
  >
    <summary class="p"><%= t(".advanced") %></summary>

    <div class="js-search-empty">
      <div class="p">
        <a class="underline" data-action="search#addItem:prevent">
          <%= t(".add") %>
        </a>
      </div>
    </div>
  </details>

  <template data-search-target="itemTemplate">
    <div class="js-search-item">
      <div class="p">
        <a class="underline" data-action="search#andItem:prevent"><%= t(".and") %></a>
        <a class="underline" data-action="search#orItem:prevent"><%= t(".or") %></a>
      </div>
      <div class="pl-4 border-l border-black">
        <div class="p">
          <label>
            <input
              class="input"
              id="{type_id}"
              name="{type_name}"
              type="radio"
              value="key_value"
              data-search-target="freeFieldType"
              data-action="search#chooseKeyValue"
              {key_value_checked}
            />
            <%= t(".key_value") %>
          </label>
          <label>
            <input
              class="input"
              id="{type_id}"
              name="{type_name}"
              type="radio"
              value="free_field"
              data-search-target="freeFieldType"
              data-action="search#chooseFreeField"
              {free_field_checked}
            />
            <%= t(".free_field") %>
          </label>
        </div>
        <div class="p js-search-free-field" {free_field_hidden}>
          <input
            type="text"
            name="{free_field_name}"
            id="{free_field_id}"
            class="input"
          />
        </div>
        <div class="p js-search-key-value" {key_value_hidden}>
          <input
            type="text"
            name="{key_value_key_name}"
            id="{key_value_key_id}"
            class="input"
          />
          <input
            type="text"
            name="{key_value_operator_name}"
            id="{key_value_operator_id}"
            class="input"
          />
          <input
            type="text"
            name="{key_value_type_name}"
            id="{key_value_type_id}"
            class="input"
          />
          <input
            type="text"
            name="{key_value_value_name}"
            id="{key_value_value_id}"
            class="input"
          />
          <input
            type="text"
            name="{key_value_first_name}"
            id="{key_value_first_id}"
            class="input"
          />
          <input
            type="text"
            name="{key_value_last_name}"
            id="{key_value_last_id}"
            class="input"
          />
        </div>
        <div class="p">
          <a class="underline" data-action="search#removeItem:prevent">
            <%= t(".remove") %>
          </a>
        </div>
      </div>
      <div class="p">
        <a class="underline" data-action="search#andItem:prevent"><%= t(".and") %></a>
        <a class="underline" data-action="search#orItem:prevent"><%= t(".or") %></a>
      </div>
    </div>
  </template>

  <template data-search-target="emptyTemplate">
    <div class="js-search-empty">
      <div class="p">
        <a class="underline" data-action="search#addItem:prevent">
          <%= t(".add") %>
        </a>
      </div>
    </div>
  </template>
</form>
