<% content_for(:title, @token) %>

<% if @token.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <% if can?(:show, @token.user) %>
      <strong><%= link_to @token.user, @token.user, class: "link" %></strong>
    <% else %>
      <strong><%= @token.user %></strong>
    <% end %>
  </div>
<% end %>

<% if @token.token.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".token") %></div>
    <strong><%= @token.token %></strong>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".primary") %></div>
  <strong><%= @token.primary? %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <strong><%= @token.verified? %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <strong><%= local_time(@token.updated_at) %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <strong><%= local_time(@token.created_at) %></strong>
</div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @token], class: "link" %>
  <%= button_to t(".delete"),
            @token,
            method: :delete,
            class: "button button--link",
            form_class: "inline-block" %>
</div>
