<%= form_for(show_url) do |f| %>
  <% if admin? %>
    <div class="p">
      <%= f.label(:user_id, class: "label") %>
      <%= f.select(:user_id, user_options(user_id: f.object.user_id), {}, class: "input") %>
    </div>
  <% end %>

  <div class="p">
    <%= f.label(:file, class: "label") %>
    <%= f.file_field(:file, class: "input") %>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      attachments: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
