<%= turbo_stream_from(@attachments) %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @attachments.any? %>
    <div class="p">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "attachments/attachment",
    collection: @attachments,
    as: :attachment
  ) %>
</turbo-frame>
