<% content_for(:title, @attachment) %>

<%= turbo_stream_from(@attachment) %>

<% if @attachment.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @attachment.id %></div>
  </div>
<% end %>

<% if @attachment.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @attachment.user) %>
  </div>
<% end %>

<% if @attachment.file.attached? %>
  <div class="p">
    <div class="text-gray-600">
      <%= link_to(t(".preview"), [*show_url, :preview], class: :link) %>
    </div>
  </div>

  <div class="p">
    <div class="text-gray-600">
      <%= link_to(t(".download"), [*show_url, :download], class: :link) %>
    </div>
  </div>
<% end %>

<% if @attachment.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold">
      <%= local_time(@attachment.updated_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @attachment.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold">
      <%= local_time(@attachment.created_at, format: :default) %>
    </div>
  </div>
<% end %>

<div class="p p--flex">
  <%= link_to(t(".edit"), edit_url, class: :link) %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>
