<%= form_for(
  show_url,
  data: {
    controller: "editor",
    action: "turbo:morph@window->editor#reconnect"
  }
) do |f| %>
  <% repl_prompt = f.object.repl_prompts.last || ReplPrompt.new %>
  <% generate = repl_prompt.generating? ? t(".generating") : t(".generate") %>

  <% if admin? %>
    <div class="p">
      <%= f.label(:repl_session_id, class: "label") %>
      <%= f.select(
        :repl_session_id,
        repl_session_options(repl_session_id: f.object.repl_session_id),
        {},
        class: "input"
      ) %>
    </div>
  <% end %>

  <div class="p">
    <%= f.label(:input, class: "label") %>
    <div class="p flex items-center gap-4">
      <div class="w-full border border-black rounded overflow-hidden">
        <%= f.hidden_field(:input, data: { editor_target: "input" }) %>
        <div data-editor-target="editor"></div>
      </div>

      <%= f.submit(generate, name: "repl_program[generate]", class: "button") %>
    </div>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
