<%= form_for repl_program do |f| %>
  <div class="p">
    <%= f.label :repl_session_id, class: "label" %>
    <%= f.select(
      :repl_session_id,
      repl_session_options(repl_session_id: f.object.repl_session_id),
      {},
      class: "input"
    ) %>
  </div>

  <div class="p">
    <%= f.label :input, class: "label" %>
    <div
      class="border border-black rounded overflow-hidden"
      data-controller="editor"
    >
      <%= f.hidden_field(:input, data: { editor_target: "input" }) %>
      <div data-editor-target="editor"></div>
    </div>
  </div>

  <div class="p">
    <%= f.submit submit,
             class: "button",
             data: {
               controller: "bridge--button",
               bridge__button_title_value: submit
             } %>
  </div>
<% end %>
