<% content_for(:title, @repl_program) %>

<%= turbo_stream_from(@repl_program) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @repl_program.id %></div>
</div>

<% if @repl_program.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @repl_program.user) %>
  </div>
<% end %>

<% if @repl_program.repl_session.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".repl_session") %></div>
    <% if can?(:show, @repl_program.repl_session) %>
      <div class="font-bold">
        <%= link_to(
          @repl_program.repl_session,
          [@user, @repl_program.repl_session],
          class: "link"
        ) %>
      </div>
    <% else %>
      <div class="font-bold"><%= @repl_program.repl_session %></div>
    <% end %>
  </div>
<% end %>

<% if @repl_program.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="code"><%= @repl_program.input %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@repl_program.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@repl_program.created_at) %></div>
</div>

<div class="p">
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".delete"), url: show_url) %>
</div>
