<% form_schedule = f.object.form_schedule %>

<% if form_schedule %>
  <%= f.hidden_field(:form_schedule_id) %>

  <label
    class="flex items-start mb-4 cursor-pointer gap-2"
    data-controller="toggle"
  >
    <div>
      <%= f.check_box(
        :_destroy,
        {
          autocomplete: :off,
          class: "input",
          data: {
            form_type: :other,
            action: "toggle#toggle",
            toggle_target: :checkbox
          },
          checked: checked
        },
        "0",
        "1"
      ) %>
    </div>
    <div class="grow">
      <div class="font-bold">
        <%= simple_format(form_schedule.name, {}, wrapper_tag: :div) %>
      </div>
      <div class="text-gray-600">
        <%= simple_format(form_schedule.description, {}, wrapper_tag: :div) %>
      </div>
      <%= content_tag(:div, hidden: !checked, data: { toggle_target: :target }) do %>
        <div class="font-bold">
          <%= simple_format(form_schedule.label, {}, wrapper_tag: :div) %>
        </div>
        <%= f.text_area(
          :value,
          class: "input",
          autocomplete: :off,
          data: {
            form_type: :other
          }
        ) %>
      <% end %>
    </div>
  </label>
<% end %>
