<%= turbo_stream_from(@submission_schedules) %>

<% if can?(:create, SubmissionSchedule) %>
  <div class="p p--flex">
    <%= link_to(t(".new"), new_url, class: "button") %>
  </div>
<% end %>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @submission_schedules.any? && can?(:destroy_all, SubmissionSchedule) %>
    <div class="p p--flex">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "submission_schedules/submission_schedule",
    collection: @submission_schedules,
    as: :submission_schedule,
    locals: {
      nested: [@submission, @submission_section].compact
    }
  ) %>
</turbo-frame>
