<% content_for(:title, @handle) %>

<%= turbo_stream_from(@handle) %>

<% if @handle.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @handle.id %></div>
  </div>
<% end %>

<% if @handle.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @handle.user) %>
  </div>
<% end %>

<% if @handle.handle.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".handle") %></div>
    <div class="font-bold"><%= @handle.handle %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".primary") %></div>
  <div class="font-bold"><%= @handle.primary? %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <div class="font-bold"><%= @handle.verified? %></div>
</div>

<% if @handle.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold"><%= local_time(@handle.updated_at) %></div>
  </div>
<% end %>

<% if @handle.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold"><%= local_time(@handle.created_at) %></div>
  </div>
<% end %>

<div class="p">
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>
