<% content_for(:title, @handle) %>

<%= turbo_stream_from @handle %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @handle.id %></div>
</div>

<% if @handle.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>

    <% if can?(:show, @handle.user) %>
      <div class="font-bold">
        <%= link_to @handle.user, @handle.user, class: "link" %>
      </div>
    <% else %>
      <div class="font-bold"><%= @handle.user %></div>
    <% end %>
  </div>
<% end %>

<% if @handle.handle.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".handle") %></div>
    <div class="font-bold"><%= @handle.handle %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".primary") %></div>
  <div class="font-bold"><%= @handle.primary? %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <div class="font-bold"><%= @handle.verified? %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@handle.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@handle.created_at) %></div>
</div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @handle], class: "link" %>
  <%= button_to t(".delete"),
            @handle,
            method: :delete,
            class: "button button--link",
            form_class: "inline-block" %>
</div>
