<%= form_for(show_url) do |f| %>
  <% if admin? %>
    <div class="p">
      <%= f.label(:user_id, class: :label) %>
      <%= f.select(
        :user_id,
        user_options(user_id: f.object.user_id),
        {},
        class: :input,
        autocomplete: :off,
        data: {
          form_type: :other
        }
      ) %>
    </div>
  <% end %>

  <div class="p" data-controller="phone-number">
    <%= f.hidden_field(
      :phone_number,
      autocomplete: :off,
      data: {
        phone_number_target: "hidden",
        form_type: :other
      }
    ) %>
    <%= f.label(
      :phone_number_input,
      class: :label,
      data: {
        phone_number_target: :label
      }
    ) %>
    <%= f.phone_field(
      :phone_number_input,
      value: f.object.formatted,
      class: :input,
      data: {
        phone_number_target: :input,
        action: "phone-number#input",
        form_type: :other
      },
      autocomplete: "tel",
      placeholder: t(".phone_number_placeholder")
    ) %>
    <div class="text-red-600" hidden data-phone-number-target="error"></div>
    <div class="text-gray-600">
      <%= Faker::PhoneNumber.phone_number_with_country_code %>
    </div>
  </div>

  <div class="p">
    <%= f.label(:primary, class: :label) %>
    <%= f.check_box(
      :primary,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <% if admin? %>
    <div class="p">
      <%= f.label(:verified, class: :label) %>
      <%= f.check_box(
        :verified,
        class: :input,
        autocomplete: :off,
        data: {
          form_type: :other
        }
      ) %>
    </div>
  <% end %>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
