<div data-controller="nested" data-nested-selector-value=".password">
  <template data-nested-target="template">
    <%= f.fields_for :passwords, Password.new, child_index: "NEW_RECORD" do |password_f| %>
      <%= render "passwords/nested_form", f: password_f %>
    <% end %>
  </template>

  <%= f.fields_for :passwords do |password_f| %>
    <%= render "passwords/nested_form", f: password_f %>
  <% end %>

  <div data-nested-target="target"></div>

  <div class="p">
    <button class="button button--link" data-action="nested#add">
      <%= t(".add") %>
    </button>
  </div>
</div>
