<%= turbo_stream_from @passwords %>

<div class="p"><%= link_to t(".new"), new_url, class: "button" %></div>

<%= render "shared/search" %>

<% if @passwords.any? %>
  <div class="p">
    <%= button_to t(".delete_all"), url, method: :delete, class: "button button--link" %>
  </div>
<% end %>

<%= render_collection partial: "passwords/password",
                  collection: @passwords,
                  as: :password %>
