<% content_for(:title, @password) %>

<% if @password.user.present? %>
  <div class="p text-gray-600"><%= t(".user") %></div>
  <% if can?(:show, @password.user) %>
    <div class="p font-bold">
      <%= link_to @password.user, @password.user, class: "underline" %>
    </div>
  <% else %>
    <div class="p font-bold"><%= @password.user %></div>
  <% end %>
<% end %>

<% if @password.hint.present? %>
  <div class="p text-gray-600"><%= t(".hint") %></div>
  <div class="p font-bold"><%= @password.hint %></div>
<% end %>

<div class="p text-gray-600"><%= t(".password") %></div>
<div class="p font-bold">***</div>

<div class="p text-gray-600"><%= t(".primary") %></div>
<div class="p font-bold"><%= @password.primary? %></div>

<div class="p text-gray-600"><%= t(".verified") %></div>
<div class="p font-bold"><%= @password.verified? %></div>

<div class="p text-gray-600"><%= t(".updated_at") %></div>
<div class="p font-bold"><%= local_time(@password.updated_at) %></div>

<div class="p text-gray-600"><%= t(".created_at") %></div>
<div class="p font-bold"><%= local_time(@password.created_at) %></div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @password], class: "underline" %>
  <%= button_to t(".delete"),
            @password,
            method: :delete,
            class: "underline",
            form_class: "inline-block" %>
</div>
