<div class="p"><%= link_to(t(".addresses"), addresses_path, class: "link") %></div>
<div class="p"><%= link_to(t(".attachments"), attachments_path, class: "link") %></div>
<div class="p"><%= link_to(t(".configurations"), configurations_path, class: "link") %></div>
<div class="p"><%= link_to(t(".data"), data_path, class: "link") %></div>
<div class="p"><%= link_to(t(".devices"), devices_path, class: "link") %></div>
<div class="p"><%= link_to(t(".email_addresses"), email_addresses_path, class: "link") %></div>
<div class="p"><%= link_to(t(".error_occurrences"), error_occurrences_path, class: "link") %></div>
<div class="p"><%= link_to(t(".errors"), errors_path, class: "link") %></div>
<div class="p"><%= link_to(t(".guests"), guests_path, class: "link") %></div>
<div class="p"><%= link_to(t(".handles"), handles_path, class: "link") %></div>
<div class="p"><%= link_to(t(".jobs"), jobs_path, class: "link") %></div>
<div class="p"><%= link_to(t(".messages"), messages_path, class: "link") %></div>
<div class="p"><%= link_to(t(".names"), names_path, class: "link") %></div>
<div class="p"><%= link_to(t(".passwords"), passwords_path, class: "link") %></div>
<div class="p"><%= link_to(t(".phone_numbers"), phone_numbers_path, class: "link") %></div>
<div class="p"><%= link_to(t(".program_executions"), program_executions_path, class: "link") %></div>
<div class="p"><%= link_to(t(".program_prompts"), program_prompts_path, class: "link") %></div>
<div class="p"><%= link_to(t(".program_prompt_schedules"), program_prompt_schedules_path, class: "link") %></div>
<div class="p"><%= link_to(t(".program_schedules"), program_schedules_path, class: "link") %></div>
<div class="p"><%= link_to(t(".programs"), programs_path, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_executions"), repl_executions_path, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_programs"), repl_programs_path, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_prompts"), repl_prompts_path, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_sessions"), repl_sessions_path, class: "link") %></div>
<div class="p"><%= link_to(t(".time_zones"), time_zones_path, class: "link") %></div>
<div class="p"><%= link_to(t(".tokens"), tokens_path, class: "link") %></div>
<div class="p"><%= link_to(t(".users"), users_path, class: "link") %></div>