<h1 class="h1"><%= t(".title") %></h1>

<div class="p"><%= t(".description") %></div>

<h2 class="h2"><%= t(".resources") %></h2>

<div class="p"><%= link_to(t(".users"), :users, class: "link") %></div>
<div class="p"><%= link_to(t(".guests"), :guests, class: "link") %></div>
<div class="p"><%= link_to(t(".programs"), :programs, class: "link") %></div>
<div class="p"><%= link_to(t(".program_executions"), :program_executions, class: "link") %></div>
<div class="p"><%= link_to(t(".program_prompts"), :program_prompts, class: "link") %></div>
<div class="p"><%= link_to(t(".program_prompt_schedules"), :program_prompt_schedules, class: "link") %></div>
<div class="p"><%= link_to(t(".program_schedules"), :program_schedules, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_sessions"), :repl_sessions, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_programs"), :repl_programs, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_executions"), :repl_executions, class: "link") %></div>
<div class="p"><%= link_to(t(".repl_prompts"), :repl_prompts, class: "link") %></div>
<div class="p"><%= link_to(t(".messages"), :messages, class: "link") %></div>
<div class="p"><%= link_to(t(".errors"), :errors, class: "link") %></div>
<div class="p"><%= link_to(t(".jobs"), :jobs, class: "link") %></div>
<div class="p"><%= link_to(t(".data"), :data, class: "link") %></div>
<div class="p"><%= link_to(t(".attachments"), :attachments, class: "link") %></div>