<div class="mb-4 <%= Current.bg_env %> rounded-full mx-auto size-40"></div>
<h1 class="font-bold mb-4 text-center"><%= t(".title") %></h1>
<h2 class="font-bold mb-4 text-center"><%= t(".subtitle") %></h2>

<% if guest? %>
  <div class="p text-center">
    <%= link_to(t(".register"), %i[new user], class: "button") %>
    <%= link_to(t(".log_in"), %i[new session], class: "button") %>
  </div>
<% elsif !hotwire_native_app? && !current_user_or_guest.unverified_device %>
  <div class="p text-center">
    <%= link_to(Config.ios.url) do %>
      <%= image_tag("ios-#{I18n.locale}.svg", class: "h-14 inline-block mb-4") %>
    <% end %>

    <%= link_to(Config.android.url) do %>
      <%= image_tag("android-#{I18n.locale}.svg", class: "h-14 inline-block mb-4") %>
    <% end %>
  </div>
<% else %>
  <div class="p text-center">
    <%= link_to(t(".messages"), [current_user_or_guest, :messages], class: "button") %>
    <%= link_to(t(".programs"), [current_user_or_guest, :programs], class: "button") %>
  </div>
<% end %>

<div class="sm:flex gap-4">
  <div class="grow text-center mb-4 font-bold">
    <%= t(".benefits.programs") %>

    <%= image_tag(
      "home/benefits/programs-#{I18n.locale}.png",
      width: 320,
      height: 700,
      class: "m-auto border"
    ) %>
  </div>
  <div class="grow text-center mb-4 font-bold">
    <%= t(".benefits.messages") %>

    <%= image_tag(
      "home/benefits/messages-#{I18n.locale}.png",
      width: 320,
      height: 700,
      class: "m-auto border"
    ) %>
  </div>
  <div class="grow text-center mb-4 font-bold">
    <%= t(".benefits.notifications") %>

    <%= image_tag(
      "home/benefits/notifications-#{I18n.locale}.png",
      width: 320,
      height: 700,
      class: "m-auto border"
    ) %>
  </div>
</div>

<div class="sm:flex gap-4">
  <div class="grow text-center mb-4 font-bold">
    <%= t(".features.edit") %>

    <%= image_tag(
      "home/features/edit-#{I18n.locale}.png",
      width: 320,
      height: 700,
      class: "m-auto border"
    ) %>
  </div>
  <div class="grow text-center mb-4 font-bold">
    <%= t(".features.message") %>

    <%= image_tag(
      "home/features/message-#{I18n.locale}.png",
      width: 320,
      height: 700,
      class: "m-auto border"
    ) %>
  </div>
  <div class="grow text-center mb-4 font-bold">
    <%= t(".features.program") %>

    <%= image_tag(
      "home/features/program-#{I18n.locale}.png",
      width: 320,
      height: 700,
      class: "m-auto border"
    ) %>
  </div>
</div>
