<% if registered? %>
  <div class="p"><%= link_to current_user, current_user, class: "link" %></div>
  <div class="p">
    <%= button_to t(".log_out"),
              :session,
              method: :delete,
              class: "button button--link",
              form_class: "inline-block" %>
  </div>
<% else %>
  <div class="p">
    <%= link_to t(".register"), %i[new user], class: "link" %>
  </div>
  <div class="p">
    <%= link_to t(".log_in"), %i[new session], class: "link" %>
  </div>
<% end %>

<div class="p">
  <%= link_to t(".programs"), [current_user_or_guest, :programs], class: "link" %>
</div>
<div class="p">
  <%= link_to t(".messages"), [current_user_or_guest, :messages], class: "link" %>
</div>
<div class="p">
  <%= link_to t(".repl_sessions"),
          [current_user_or_guest, :repl_sessions],
          class: "link" %>
</div>

<div class="p"><%= link_to t(".documentation"), :docs, class: "link" %></div>
<div class="p"><%= link_to t(".source"), :source, class: "link" %></div>
<div class="p"><%= link_to t(".about"), :about, class: "link" %></div>
<div class="p"><%= link_to t(".privacy"), :privacy, class: "link" %></div>
<div class="p"><%= link_to t(".terms"), :terms, class: "link" %></div>
<div class="p"><%= link_to t(".up"), :up, class: "link" %></div>

<% if fr? %>
  <div class="p">
    <%= link_to t(".english"), url_for(locale: :en), class: "link" %>
  </div>
<% else %>
  <div class="p">
    <%= link_to t(".french"), url_for(locale: :fr), class: "link" %>
  </div>
<% end %>

<div class="p"><%= Current.translated_env %></div>

<% if admin? %>
  <div class="p">
    <b><%= t(".admin") %></b>
  </div>
  <div class="p"><%= link_to t(".users"), :users, class: "link" %></div>
  <div class="p"><%= link_to t(".programs"), :programs, class: "link" %></div>
  <div class="p"><%= link_to t(".messages"), :messages, class: "link" %></div>
  <div class="p">
    <%= link_to t(".repl_sessions"), :repl_sessions, class: "link" %>
  </div>
  <div class="p"><%= link_to t(".errors"), :errors, class: "link" %></div>
  <div class="p"><%= link_to t(".jobs"), :jobs, class: "link" %></div>
<% end %>
