<div>
  <%= link_to current_user_or_guest, current_user_or_guest, class: "link" %>
</div>

<% if registered? %>
  <div>
    <%= button_to t(".log_out"),
              :session,
              method: :delete,
              class: "button button--link",
              form_class: "inline-block" %>
  </div>
<% else %>
  <div><%= link_to t(".register"), %i[new user], class: "link" %></div>
  <div><%= link_to t(".log_in"), %i[new session], class: "link" %></div>
<% end %>

<div>
  <%= link_to t(".programs"), [current_user_or_guest, :programs], class: "link" %>
</div>
<div>
  <%= link_to t(".messages"), [current_user_or_guest, :messages], class: "link" %>
</div>
<div>
  <%= link_to t(".repl_sessions"),
          [current_user_or_guest, :repl_sessions],
          class: "link" %>
</div>

<div><%= link_to t(".documentation"), :documentation, class: "link" %></div>
<div><%= link_to t(".source"), :source, class: "link" %></div>
<div><%= link_to t(".about"), :about, class: "link" %></div>
<div><%= link_to t(".privacy"), :privacy, class: "link" %></div>
<div><%= link_to t(".terms"), :terms, class: "link" %></div>
<div><%= link_to t(".up"), :up, class: "link" %></div>

<% if fr? %>
  <div><%= link_to t(".english"), url_for(locale: :en), class: "link" %></div>
<% else %>
  <div><%= link_to t(".french"), url_for(locale: :fr), class: "link" %></div>
<% end %>

<div><%= Current.translated_env %></div>

<% if admin? %>
  <b><%= t(".admin") %></b>
  <div><%= link_to t(".users"), :users, class: "link" %></div>
  <div><%= link_to t(".programs"), :programs, class: "link" %></div>
  <div><%= link_to t(".messages"), :messages, class: "link" %></div>
  <div><%= link_to t(".repl_sessions"), :repl_sessions, class: "link" %></div>
<% end %>
