<%= form_for(show_url) do |f| %>
  <div class="p">
    <%= f.label(:exception_class, class: :label) %>
    <%= f.text_field(
      :exception_class,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.label(:fingerprint, class: :label) %>
    <%= f.text_field(
      :fingerprint,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.label(:message, class: :label) %>
    <%= f.text_area(
      :message,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.label(:resolved_at, class: :label) %>
    <%= f.datetime_field(
      :resolved_at,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.label(:severity, class: :label) %>
    <%= f.text_area(
      :severity,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.label(:source, class: :label) %>
    <%= f.text_area(
      :source,
      class: :input,
      autocomplete: :off,
      data: {
        form_type: :other
      }
    ) %>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
