<%= turbo_stream_from @errors %>

<%= render "shared/search" %>

<% if @errors.any? %>
  <div class="p">
    <%= render "shared/confirm", url: destroy_all_url, text: t(".destroy_all") %>
    <%= render "shared/confirm", url: delete_all_url, text: t(".delete_all") %>
  </div>
<% end %>

<turbo-frame id="search">
  <%= render_collection(partial: "errors/error", collection: @errors, as: :error) %>
</turbo-frame>
