<%= turbo_stream_from(@errors) %>

<% if @error_occurrences.any? %>
  <div class="p">
    <%= link_to(
      t(".error_occurrences", count: @error_occurrences.size),
      :error_occurrences,
      class: "link"
    ) %>
  </div>
<% end %>

<%= render("shared/search") %>

<% if @errors.any? %>
  <div class="p">
    <%= render(
      "shared/confirm",
      url: [:destroy_all, *index_url],
      text: t(".destroy_all")
    ) %>
    <%= render("shared/confirm", url: [:delete_all, *index_url], text: t(".delete_all")) %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(partial: "errors/error", collection: @errors, as: :error) %>
</turbo-frame>
