<%= form_for(show_url) do |f| %>
  <% key = f.object.errors.include?(:key) ? f.object.key : f.object.key_json %>
  <% value = f.object.errors.include?(:value) ? f.object.value : f.object.value_json %>

  <% if admin? %>
    <div class="p">
      <%= f.label(:user_id, class: :label) %>
      <%= f.select(
        :user_id,
        user_options(user_id: f.object.user_id),
        {},
        class: :input,
        autocomplete: :off,
        data: {
          form_type: :other
        }
      ) %>
    </div>
  <% end %>

  <div class="p" data-controller="editor" data-editor-language-value="json">
    <%= f.label(:key, class: :label) %>
    <div class="border border-black rounded overflow-hidden">
      <%= f.hidden_field(
        :key,
        value: key,
        autocomplete: :off,
        data: {
          editor_target: :input,
          form_type: :other
        }
      ) %>
      <div data-editor-target="editor"></div>
    </div>
    <div class="text-gray-600"><%= Faker::Internet.slug.to_json %></div>
  </div>

  <div class="p" data-controller="editor" data-editor-language-value="json">
    <%= f.label(:value, class: :label) %>
    <div class="border border-black rounded overflow-hidden">
      <%= f.hidden_field(
        :value,
        value: value,
        autocomplete: :off,
        data: {
          editor_target: :input,
          form_type: :other
        }
      ) %>
      <div data-editor-target="editor"></div>
    </div>
    <div class="text-gray-600">
      <%= Faker::Alphanumeric.alphanumeric.to_json %>
    </div>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
