<% key = datum.errors.include?(:key) ? datum.key : datum.key_json %>

<% value = datum.errors.include?(:value) ? datum.value : datum.value_json %>

<%= form_for datum do |f| %>
  <% if admin? %>
    <div class="p">
      <%= f.label(:user_id, class: "label") %>
      <%= f.select(:user_id, user_options(user_id: f.object.user_id), {}, class: "input") %>
    </div>
  <% end %>

  <div class="p" data-controller="editor">
    <%= f.label(:key, class: "label") %>
    <div
      class="flex-1 flex flex-col border border-black rounded overflow-hidden"
    >
      <%= f.hidden_field(:key, value: key, data: { editor_target: "input" }) %>
      <div data-editor-target="editor"></div>
    </div>
    <div class="text-gray-600"><%= Faker::Internet.slug.to_json %></div>
  </div>

  <div class="p" data-controller="editor">
    <%= f.label(:value, class: "label") %>
    <div
      class="flex-1 flex flex-col border border-black rounded overflow-hidden"
    >
      <%= f.hidden_field(:value, value: value, data: { editor_target: "input" }) %>
      <div data-editor-target="editor"></div>
    </div>
    <div class="text-gray-600">
      <%= Faker::Alphanumeric.alphanumeric.to_json %>
    </div>
  </div>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
