<%= turbo_stream_from @data %>

<div class="p"><%= link_to t(".new"), new_url, class: "button") %></div>

<%= render "shared/search") %>

<% if @data.any? %>
  <div class="p">
    <%= render "shared/confirm", url: destroy_all_url, text: t(".destroy_all") %>
    <%= render "shared/confirm", url: delete_all_url, text: t(".delete_all") %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(partial: "data/datum", collection: @data, as: :datum) %>
</turbo-frame>
