<% content_for(:title, @datum) %>

<%= turbo_stream_from(@datum) %>

<% if @datum.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @datum.id %></div>
  </div>
<% end %>

<% if @datum.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @datum.user) %>
  </div>
<% end %>

<% if @datum.key.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".key") %></div>
    <div class="code"><%= @datum.key_json %></div>
  </div>
<% end %>

<% if @datum.value.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".value") %></div>
    <div class="code"><%= @datum.value_json %></div>
  </div>
<% end %>

<% if @datum.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold"><%= local_time(@datum.updated_at) %></div>
  </div>
<% end %>

<% if @datum.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold"><%= local_time(@datum.created_at) %></div>
  </div>
<% end %>

<div class="p">
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>
