<% content_for(:title, @datum) %>

<%= turbo_stream_from(@datum) %>

<% if @datum.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @datum.id %></div>
  </div>
<% end %>

<% if @datum.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @datum.user) %>
  </div>
<% end %>

<% if @datum.key.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".key") %></div>
    <div class="code"><%= @datum.key_json %></div>
  </div>
<% end %>

<% if @datum.value.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".value") %></div>
    <div class="code"><%= @datum.value_json %></div>
  </div>
<% end %>

<% if @datum.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold">
      <%= local_time(@datum.updated_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @datum.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold">
      <%= local_time(@datum.created_at, format: :default) %>
    </div>
  </div>
<% end %>

<div class="p p--flex">
  <%= link_to(t(".edit"), edit_url, class: :link) %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(t(".versions"), [*nested, @datum, :versions], class: :link) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(t(".new_version"), [:new, *nested, @datum, :version], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [*nested, @datum]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [*nested, @datum, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(t(".new_log"), [:new, *nested, @datum, :log], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [*nested, @datum]
    }
  ) %>
<% end %>
