<% content_for(:title, @submission_program) %>

<%= turbo_stream_from(@submission_program) %>

<% if can?(:update, @submission_program) %>
  <% if @submission_program.id.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".id") %></div>
      <div class="font-bold"><%= @submission_program.id %></div>
    </div>
  <% end %>
<% end %>

<% if @submission_program.submission.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".submission") %></div>
    <% if can?(:show, @submission_program.submission) %>
      <%= link_to(
        @submission_program.submission,
        @submission_program.submission,
        class: :link
      ) %>
    <% else %>
      <div class="font-bold"><%= @submission_program.submission %></div>
    <% end %>
  </div>
<% end %>

<% if @submission_program.submission_section.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".submission_section") %></div>
    <% if can?(:show, @submission_program.submission_section) %>
      <%= link_to(
        @submission_program.submission_section,
        [@submission, @submission_program.submission_section].compact,
        class: :link
      ) %>
    <% else %>
      <div class="font-bold"><%= @submission_program.submission_section %></div>
    <% end %>
  </div>
<% end %>

<% if @submission_program.locale.present? && can?(:update, @submission_program) %>
  <div class="p">
    <div class="text-gray-600"><%= t(".locale") %></div>
    <div class="font-bold"><%= @submission_program.locale %></div>
  </div>
<% end %>

<% if @submission_program.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="content font-bold">
      <%= simple_format(@submission_program.name, {}, wrapper_tag: :div) %>
    </div>
  </div>
<% end %>

<% if @submission_program.label.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".label") %></div>
    <div class="content font-bold">
      <%= simple_format(@submission_program.label, {}, wrapper_tag: :div) %>
    </div>
  </div>
<% end %>

<% if @submission_program.description.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".description") %></div>
    <div class="content">
      <%= simple_format(@submission_program.description, {}, wrapper_tag: :div) %>
    </div>
  </div>
<% end %>

<% if @submission_program.value.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".value") %></div>
    <div class="content">
      <%= simple_format(@submission_program.value, {}, wrapper_tag: :div) %>
    </div>
  </div>
<% end %>

<% if can?(:update, @submission_program) %>
  <% if @submission_program.updated_at.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".updated_at") %></div>
      <div class="font-bold">
        <%= local_time(@submission_program.updated_at, format: :default) %>
      </div>
    </div>
  <% end %>

  <% if @submission_program.created_at.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".created_at") %></div>
      <div class="font-bold">
        <%= local_time(@submission_program.created_at, format: :default) %>
      </div>
    </div>
  <% end %>

  <div class="p">
    <%= link_to(t(".edit"), edit_url, class: :link) %>
    <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
    <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
  </div>
<% end %>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(t(".versions"), [*nested, @submission_program, :versions], class: :link) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(
        t(".new_version"),
        [:new, *nested, @submission_program, :version],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [*nested, @submission_program]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [*nested, @submission_program, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(
        t(".new_log"),
        [:new, *nested, @submission_program, :log],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [*nested, @submission_program]
    }
  ) %>
<% end %>
