<% content_for(:title, @repl_session) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @repl_session.id %></div>
</div>

<% if @repl_session.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <% if can?(:show, @repl_session.user) %>
      <div class="font-bold">
        <%= link_to @repl_session.user, @repl_session.user, class: "link" %>
      </div>
    <% else %>
      <div class="font-bold"><%= @repl_session.user %></div>
    <% end %>
  </div>
<% end %>

<% if @repl_session.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @repl_session.name %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@repl_session.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@repl_session.created_at) %></div>
</div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @repl_session], class: "link" %>
  <%= button_to t(".delete"),
            @repl_session,
            method: :delete,
            class: "button button--link",
            form_class: "inline-block" %>
</div>

<div class="p font-bold">
  <%= link_to t(".repl_programs"), [@repl_session, :repl_programs], class: "link" %>
</div>

<% (@repl_programs + [@repl_program]).each do |repl_program| %>
  <%= form_for repl_program do |f| %>
    <%= f.hidden_field :repl_session_id %>

    <div class="p flex gap-4 items-center">
      <%= f.text_field :input, class: "input input--repl" %>
      <%= f.submit t(".evaluate"), class: "button" %>
    </div>
  <% end %>
<% end %>

<p class="p">
  <%= button_to(t(".evaluate_all"), [@repl_session, :evaluate], class: "button") %>
</p>
