<%= form_for(show_url) do |f| %>
  <% if admin? %>
    <div class="p">
      <%= f.label(:user_id, class: "label") %>
      <%= f.select(:user_id, user_options(user_id: f.object.user_id), {}, class: "input") %>
    </div>
  <% end %>

  <div
    class="p"
    data-controller="address"
    data-action="google-maps-callback@window->address#load"
    data-address-trim-value="true"
    data-address-required-value="true"
  >
    <%= f.hidden_field(:autocomplete, data: { address_target: "autocomplete" }) %>
    <%= f.hidden_field(:address, data: { address_target: "address" }) %>
    <%= f.label(:address, class: "label", data: { address_target: "label" }) %>
    <%= content_tag(
      "gmp-place-autocomplete",
      "",
      class: "input bg-white !p-0 scheme-light",
      value: f.object.address,
      data: {
        address_target: "input",
        action: "input->address#input gmp-select->address#select"
      }
    ) %>
    <div class="text-red-600" hidden data-address-target="error"></div>
    <div class="text-gray-600"><%= Faker::Address.full_address %></div>
  </div>

  <div class="p">
    <%= f.label(:primary, class: "label") %>
    <%= f.check_box(:primary, class: "input") %>
  </div>

  <% if admin? %>
    <div class="p">
      <%= f.label(:verified, class: "label") %>
      <%= f.check_box(:verified, class: "input") %>
    </div>
  <% end %>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
