<div data-controller="nested" data-nested-selector-value=".address">
  <template data-nested-target="template">
    <%= f.fields_for(:addresses, Address.new, child_index: "NEW_RECORD") do |address_f| %>
      <%= render("addresses/nested_form", f: address_f) %>
    <% end %>
  </template>

  <%= f.fields_for(:addresses) do |address_f| %>
    <%= render("addresses/nested_form", f: address_f) %>
  <% end %>

  <div data-nested-target="target"></div>

  <div class="p">
    <button class="button button--link" data-action="nested#add">
      <%= t(".add") %>
    </button>
  </div>
</div>
