<div
  class="address border-l border-black pl-5"
  data-new-record="<%= f.object.new_record? %>"
>
  <%= f.hidden_field(:id) %>
  <%= f.hidden_field(:_destroy) %>

  <h2 class="font-bold p"><%= t(".address") %></h2>

  <div class="p">
    <%= f.object.formatted_address.presence || f.object.address %>
  </div>

  <div
    class="p"
    data-controller="address"
    data-action="google-maps-callback@window->address#load"
    data-address-trim-value="true"
    data-address-required-value="true"
  >
    <%= f.hidden_field(:autocomplete, data: { address_target: "autocomplete" }) %>
    <%= f.hidden_field(:address, data: { address_target: "address" }) %>
    <%= f.label(:address, class: :label, data: { address_target: :label }) %>
    <%= content_tag(
      "gmp-place-autocomplete",
      "",
      class: "input bg-white !p-0 scheme-light",
      data: {
        address_target: :input,
        action: "input->address#input gmp-select->address#select"
      }
    ) %>
    <div class="text-red-600" hidden data-address-target="error"></div>
    <div class="text-gray-600"><%= Faker::Address.full_address %></div>
  </div>

  <div class="p">
    <%= f.label(:primary, class: :label) %>
    <%= f.check_box(:primary, class: :input) %>
  </div>

  <% if admin? %>
    <div class="p">
      <%= f.label(:verified, class: :label) %>
      <%= f.check_box(:verified, class: :input) %>
    </div>
  <% end %>

  <div class="p">
    <button class="link" data-action="nested#remove">
      <%= t(".remove") %>
    </button>
  </div>
</div>
