<% content_for(:title, @address) %>

<%= turbo_stream_from(@address) %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @address.id %></div>
</div>

<% if @address.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <% if can?(:show, @address.user) %>
      <div class="font-bold">
        <%= link_to(@address.user, @address.user, class: "link") %>
      </div>
    <% else %>
      <div class="font-bold"><%= @address.user %></div>
    <% end %>
  </div>
<% end %>

<% if @address.address.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".address") %></div>
    <div class="font-bold"><%= @address.address %></div>
  </div>
<% end %>

<% if @address.formatted_address.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".formatted_address") %></div>
    <div class="font-bold"><%= @address.formatted_address %></div>
  </div>
<% end %>

<% if @address.address_components.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".address_components") %></div>
    <div class="code"><%= @address.address_components_json %></div>
  </div>
<% end %>

<% if @address.geometry.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".geometry") %></div>
    <div class="code"><%= @address.geometry_json %></div>
  </div>
<% end %>

<% if @address.place_id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".place_id") %></div>
    <div class="font-bold"><%= @address.place_id %></div>
  </div>
<% end %>

<% if @address.types.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".types") %></div>
    <div class="code"><%= @address.types_json %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".primary") %></div>
  <div class="font-bold"><%= @address.primary? %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <div class="font-bold"><%= @address.verified? %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@address.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@address.created_at) %></div>
</div>

<div class="p">
  <%= link_to(t(".edit"), [:edit, @address], class: "link") %>
  <%= render("shared/confirm", text: t(".delete"), url: @address) %>
</div>
