<%= turbo_stream_from(@job_recurring_tasks) %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @job_recurring_tasks.any? %>
    <div class="p">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "job_recurring_tasks/job_recurring_task",
    collection: @job_recurring_tasks,
    as: :job_recurring_task
  ) %>
</turbo-frame>
