<%= form_for(show_url, html: { data: { controller: :editor } }) do |f| %>
  <div class="p" data-turbo-permanent>
    <%= f.label(:title, class: :label) %>
    <%= f.rich_textarea(:title, class: :input) %>
  </div>

  <div class="p">
    <%= f.label(:locale, class: :label) %>
    <%= f.select(
      :locale,
      locale_options(locale: f.object.locale.presence || I18n.locale),
      {},
      required: true,
      class: :input,
      data: {
        form_type: :other
      },
      autocomplete: :off
    ) %>
  </div>

  <div class="p" data-turbo-permanent>
    <%= f.label(:description, class: :label) %>
    <%= f.rich_textarea(:description, class: :input) %>
  </div>

  <div class="p">
    <%= f.label(:name, class: :label) %>
    <%= f.text_field(:name, class: :input) %>
  </div>

  <div class="p">
    <%= f.label(:input, class: :label) %>
    <div class="border border-black rounded overflow-hidden">
      <%= f.hidden_field(:input, data: { editor_target: :input }) %>
      <div data-editor-target="editor"></div>
    </div>
  </div>

  <div class="p">
    <%= f.label(:position, class: :label) %>
    <%= f.number_field(:position, class: :input) %>
  </div>

  <%= render("example_schedules/nested", f: f) %>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
