<% content_for(:title, @example) %>

<%= turbo_stream_from(@example) %>

<% if can?(:update, @example) %>
  <% if @example.id.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".id") %></div>
      <div class="font-bold"><%= @example.id %></div>
    </div>
  <% end %>
<% end %>

<% if @example.position.present? && can?(:update, @example) %>
  <div class="p">
    <div class="text-gray-600"><%= t(".position") %></div>
    <div class="font-bold"><%= @example.position %></div>
  </div>
<% end %>

<% if @example.title.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".title") %></div>
    <%= @example.title %>
  </div>
<% end %>

<% if @example.locale.present? && can?(:update, @example) %>
  <div class="p">
    <div class="text-gray-600"><%= t(".locale") %></div>
    <div class="font-bold"><%= @example.locale %></div>
  </div>
<% end %>

<% if @example.description.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".description") %></div>
    <%= @example.description %>
  </div>
<% end %>

<% if @example.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @example.name %></div>
  </div>
<% end %>

<% if @example.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="code"><%= @example.input %></div>
  </div>
<% end %>

<% if can?(:update, @example) %>
  <% if @example.updated_at.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".updated_at") %></div>
      <div class="font-bold"><%= local_time(@example.updated_at) %></div>
    </div>
  <% end %>

  <% if @example.created_at.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".created_at") %></div>
      <div class="font-bold"><%= local_time(@example.created_at) %></div>
    </div>
  <% end %>

  <div class="p">
    <%= link_to(t(".edit"), edit_url, class: :link) %>
    <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
    <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
  </div>
<% end %>

<div class="p font-bold">
  <%= link_to(t(".example_schedules"), [@example, :example_schedules], class: :link) %>
</div>

<% if can?(:create, ExampleSchedule) %>
  <div class="p">
    <%= link_to(
      t(".new_example_schedule"),
      [:new, @example, :example_schedule],
      class: "button"
    ) %>
  </div>
<% end %>

<%= render_collection(
  partial: "example_schedules/example_schedule",
  collection: @example_schedules,
  as: :example_schedule,
  locals: {
    nested: [@example]
  }
) %>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(t(".versions"), [@example, :versions], class: :link) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(t(".new_version"), [:new, @example, :version], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [@example]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [@example, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(t(".new_log"), [:new, @example, :log], class: "button") %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [@example]
    }
  ) %>
<% end %>
