<%= form_for(show_url) do |f| %>
<% if admin? %>
  <div class="p">
    <%= f.label(:program_id, class: :label) %>
    <%= f.select(
      :program_id,
      program_options(program_id: f.object.program_id),
      {},
      class: :input
    ) %>
  </div>

  <div class="p">
    <%= f.label(:status, class: :label) %>
    <%= f.select(
      :status,
      program_execution_status_options(status: f.object.status),
      {},
      class: :input
    ) %>
  </div>
<% end %>

  <div class="p" data-controller="editor">
    <%= f.label(:input, class: :label) %>
    <div class="border border-black rounded overflow-hidden">
      <%= f.hidden_field(:input, data: { editor_target: :input }) %>
      <div data-editor-target="editor"></div>
    </div>
  </div>

  <div class="p" data-controller="editor">
    <%= f.label(:output, class: :label) %>
    <div class="border border-black rounded overflow-hidden">
      <%= f.hidden_field(:output, data: { editor_target: :input }) %>
      <div data-editor-target="editor"></div>
    </div>
  </div>

  <div class="p" data-controller="editor">
    <%= f.label(:result, class: :label) %>
    <div class="border border-black rounded overflow-hidden">
      <%= f.hidden_field(:result, data: { editor_target: :input }) %>
      <div data-editor-target="editor"></div>
    </div>
  </div>

  <div class="p" data-controller="editor">
    <%= f.label(:error, class: :label) %>
    <div class="border border-black rounded overflow-hidden">
      <%= f.hidden_field(:error, data: { editor_target: :input }) %>
      <div data-editor-target="editor"></div>
    </div>
  </div>

  <div class="p">
    <%= f.label(:error_class, class: :label) %>
    <%= f.text_field(:error_class, class: :input) %>
  </div>

  <% if admin? %>
    <div class="p">
      <%= f.label(:error_message, class: :label) %>
      <%= f.text_area(:error_message, class: :input) %>
    </div>

    <div class="p" data-controller="editor">
      <%= f.label(:error_backtrace, class: :label) %>
      <div class="border border-black rounded overflow-hidden">
        <%= f.hidden_field(:error_backtrace, data: { editor_target: :input }) %>
        <div data-editor-target="editor"></div>
      </div>
    </div>
  <% end %>

  <div class="p">
    <%= f.submit(
      submit,
      class: "button",
      data: {
        controller: "bridge--button",
        bridge__button_title_value: submit
      }
    ) %>
  </div>
<% end %>
