<%= turbo_stream_from(@program_executions) %>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @program_executions.any? %>
    <div class="p">
      <%= render(
        "shared/confirm",
        url: [:destroy_all, *index_url],
        text: t(".destroy_all")
      ) %>
      <%= render("shared/confirm", url: [:delete_all, *index_url], text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "program_executions/program_execution",
    collection: @program_executions,
    as: :program_execution
  ) %>
</turbo-frame>
