<% unless hotwire_native_app? %>
  <div class="p">
    <%= link_to t(".title"), root_path, class: "link" %>

    <%= link_to current_user_or_guest, current_user_or_guest, class: "link" %>

    <% if registered? %>
      <%= button_to t(".log_out"),
                :session,
                method: :delete,
                class: "button button--link",
                form_class: "inline-block" %>
    <% else %>
      <%= link_to t(".register"), %i[new user], class: "link" %>
      <%= link_to t(".log_in"), %i[new session], class: "link" %>
    <% end %>

    <%= link_to t(".programs"), [current_user_or_guest, :programs], class: "link" %>
    <%= link_to t(".messages"), [current_user_or_guest, :messages], class: "link" %>
    <%= link_to t(".repl_sessions"),
            [current_user_or_guest, :repl_sessions],
            class: "link" %>

    <%= link_to t(".documentation"), :documentation, class: "link" %>
    <%= link_to t(".source"), :source, class: "link" %>
    <%= link_to t(".about"), :about, class: "link" %>
    <%= link_to t(".privacy"), :privacy, class: "link" %>
    <%= link_to t(".terms"), :terms, class: "link" %>
    <%= link_to t(".up"), :up, class: "link" %>

    <% if fr? %>
      <%= link_to t(".english"), url_for(locale: :en), class: "link" %>
    <% else %>
      <%= link_to t(".french"), url_for(locale: :fr), class: "link" %>
    <% end %>

    <%= Current.translated_env %>

    <% if admin? %>
      <b><%= t(".admin") %></b>
      <%= link_to t(".users"), :users, class: "link" %>
      <%= link_to t(".programs"), :programs, class: "link" %>
      <%= link_to t(".messages"), :messages, class: "link" %>
      <%= link_to t(".repl_sessions"), :repl_sessions, class: "link" %>
      <%= link_to t(".errors"), :errors, class: "link" %>
      <%= link_to t(".jobs"), :jobs, class: "link" %>
    <% end %>
  </div>
<% end %>
