<div data-controller="nested" data-nested-selector-value=".time-zone">
  <template data-nested-target="template">
    <%= f.fields_for(:time_zones, TimeZone.new, child_index: "NEW_RECORD") do |time_zone_f| %>
      <%= render("time_zones/nested_form", f: time_zone_f %>
    <% end %>
  </template>

  <%= f.fields_for(:time_zones) do |time_zone_f| %>
    <%= render("time_zones/nested_form", f: time_zone_f %>
  <% end %>

  <div data-nested-target="target"></div>

  <div class="p">
    <button class="button button--link" data-action="nested#add">
      <%= t(".add") %>
    </button>
  </div>
</div>
