<%= turbo_stream_from(@time_zones) %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<%= render("shared/search") %>

<% if @time_zones.any? %>
  <div class="p">
    <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
    <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(
    partial: "time_zones/time_zone",
    collection: @time_zones,
    as: :time_zone
  ) %>
</turbo-frame>
