<% content_for :title, @time_zone %>

<% if @time_zone.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <% if can?(:show, @time_zone.user) %>
      <div class="font-bold">
        <%= link_to @time_zone.user, @time_zone.user, class: "link" %>
      </div>
    <% else %>
      <div class="font-bold"><%= @time_zone.user %></div>
    <% end %>
  </div>
<% end %>

<% if @time_zone.time_zone.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".time_zone") %></div>
    <div class="font-bold"><%= @time_zone.time_zone %></div>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".primary") %></div>
  <div class="font-bold"><%= @time_zone.primary? %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <div class="font-bold"><%= @time_zone.verified? %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <div class="font-bold"><%= local_time(@time_zone.updated_at) %></div>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <div class="font-bold"><%= local_time(@time_zone.created_at) %></div>
</div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @time_zone], class: "link" %>
  <%= button_to t(".delete"),
            @time_zone,
            method: :delete,
            class: "button button--link",
            form_class: "inline-block" %>
</div>
