<%= turbo_stream_from(@program_prompts) %>

<%= render("shared/search") %>

<% if @program_prompts.any? %>
  <div class="p">
    <%= render(
      "shared/confirm",
      url: [:destroy_all, *index_url],
      text: t(".destroy_all")
    ) %>
    <%= render("shared/confirm", url: [:delete_all, *index_url], text: t(".delete_all")) %>
  </div>
<% end %>

<turbo-frame id="search" target="_top">
  <%= render_collection(
    partial: "program_prompts/program_prompt",
    collection: @program_prompts,
    as: :program_prompt
  ) %>
</turbo-frame>
