<%= turbo_stream_from(@program_prompts) %>

<div class="p"><%= link_to(t(".new"), new_url, class: "button") %></div>

<% if @program_prompt_schedules.any? %>
  <div class="p">
    <%= link_to(
      t(".program_prompt_schedules", count: @program_prompt_schedules.size),
      [@user || @guest, @program, :program_prompt_schedules],
      class: "link"
    ) %>
  </div>
<% end %>

<%= render("shared/search") %>

<turbo-frame id="search" target="_top">
  <% if @program_prompts.any? %>
    <div class="p">
      <%= render("shared/confirm", url: destroy_all_url, text: t(".destroy_all")) %>
      <%= render("shared/confirm", url: delete_all_url, text: t(".delete_all")) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "program_prompts/program_prompt",
    collection: @program_prompts,
    as: :program_prompt
  ) %>
</turbo-frame>
