<% content_for(:title, @program_prompt) %>

<%= turbo_stream_from(@program_prompt) %>

<% if @program_prompt.id.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".id") %></div>
    <div class="font-bold"><%= @program_prompt.id %></div>
  </div>
<% end %>

<% if @program_prompt.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <%= render("shared/user", user: @program_prompt.user) %>
  </div>
<% end %>

<% if @program_prompt.program.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".program") %></div>
    <% if can?(:show, @program_prompt.program) %>
      <div class="font-bold">
        <%= link_to(@program_prompt.program, [@user, @program_prompt.program], class: :link) %>
      </div>
    <% else %>
      <div class="font-bold"><%= @program_prompt.program %></div>
    <% end %>
  </div>
<% end %>

<% if @program_prompt.status.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".status") %></div>
    <div class="font-bold"><%= @program_prompt.translated_status %></div>
  </div>
<% end %>

<% if @program_prompt.error_class.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".error_class") %></div>
    <div class="font-bold"><%= @program_prompt.error_class %></div>
  </div>
<% end %>

<% if admin? %>
  <% if @program_prompt.error_message.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_message") %></div>
      <div class="code"><%= @program_prompt.error_message %></div>
    </div>
  <% end %>

  <% if @program_prompt.error_app_backtrace.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_app_backtrace") %></div>
      <div class="code"><%= @program_prompt.error_app_backtrace %></div>
    </div>
  <% end %>

  <% if @program_prompt.error_backtrace.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".error_backtrace") %></div>
      <div class="code"><%= @program_prompt.error_backtrace %></div>
    </div>
  <% end %>

  <% if @program_prompt.backtrace.present? %>
    <div class="p">
      <div class="text-gray-600"><%= t(".backtrace") %></div>
      <div class="code"><%= @program_prompt.backtrace %></div>
    </div>
  <% end %>
<% end %>

<% if @program_prompt.name.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".name") %></div>
    <div class="font-bold"><%= @program_prompt.name %></div>
  </div>
<% end %>

<% if @program_prompt.input.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".input") %></div>
    <div class="font-bold"><%= @program_prompt.input %></div>
  </div>
<% end %>

<% if @program_prompt.output.present? %>
  <% if @program_prompt.output_name? || @program_prompt.output_input? ||
    @program_prompt.output_schedules? %>
    <% if @program_prompt.output_name? %>
      <div class="p">
        <div class="text-gray-600"><%= t(".output_name") %></div>
        <div class="font-bold"><%= @program_prompt.output_name %></div>
      </div>
    <% end %>
    <% if @program_prompt.output_input? %>
      <div class="p">
        <div class="text-gray-600"><%= t(".output_input") %></div>
        <div class="code"><%= @program_prompt.output_input %></div>
      </div>
    <% end %>
    <% if @program_prompt.output_schedules? %>
      <div class="p">
        <div class="text-gray-600"><%= t(".output_schedules") %></div>
        <% @program_prompt.output_schedules.each do |schedule| %>
          <% if schedule.is_a?(Hash) %>
            <div class="font-bold">
              <%= t(
                ".output_schedule",
                interval: schedule["interval"],
                starts_at: schedule["starts_at"]
              ) %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="p">
      <div class="text-gray-600"><%= t(".output") %></div>
      <div class="code">
        <%= JSON.pretty_generate(@program_prompt.output) %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @program_prompt.updated_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".updated_at") %></div>
    <div class="font-bold">
      <%= local_time(@program_prompt.updated_at, format: :default) %>
    </div>
  </div>
<% end %>

<% if @program_prompt.created_at.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".created_at") %></div>
    <div class="font-bold">
      <%= local_time(@program_prompt.created_at, format: :default) %>
    </div>
  </div>
<% end %>

<div class="p">
  <%= link_to(t(".edit"), edit_url, class: "link") %>
  <%= render("shared/confirm", text: t(".destroy"), url: destroy_url) %>
  <%= render("shared/confirm", text: t(".delete"), url: delete_url) %>
</div>

<div class="p font-bold">
  <%= link_to(
    t(".program_prompt_schedules"),
    [@user, @program, @program_prompt, :program_prompt_schedules],
    class: :link
  ) %>
</div>

<% if can?(:create, ProgramPromptSchedule) %>
  <div class="p">
    <%= link_to(
      t(".new_program_prompt_schedule"),
      [:new, @user, @program, @program_prompt, :program_prompt_schedule],
      class: "button"
    ) %>
  </div>
<% end %>

<%= render_collection(
  partial: "program_prompt_schedules/program_prompt_schedule",
  collection: @program_prompt_schedules,
  as: :program_prompt_schedule,
  locals: {
    nested: [@user, @program, @program_prompt]
  }
) %>

<% if can?(:index, Version) %>
  <div class="p font-bold">
    <%= link_to(
      t(".versions"),
      [@user, @program, @program_prompt, :versions],
      class: :link
    ) %>
  </div>

  <% if can?(:create, Version) %>
    <div class="p">
      <%= link_to(
        t(".new_version"),
        [:new, @user, @program, @program_prompt, :version],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "versions/version",
    collection: @versions,
    as: :version,
    locals: {
      nested: [@user, @program, @program_prompt]
    }
  ) %>
<% end %>

<% if can?(:index, Log) %>
  <div class="p font-bold">
    <%= link_to(t(".logs"), [@user, @program, @program_prompt, :logs], class: :link) %>
  </div>

  <% if can?(:create, Log) %>
    <div class="p">
      <%= link_to(
        t(".new_log"),
        [:new, @user, @program, @program_prompt, :log],
        class: "button"
      ) %>
    </div>
  <% end %>

  <%= render_collection(
    partial: "logs/log",
    collection: @logs,
    as: :log,
    locals: {
      nested: [@user, @program, @program_prompt]
    }
  ) %>
<% end %>
