<% content_for(:title, @email_address) %>

<%= turbo_stream_from @email_address %>

<div class="p">
  <div class="text-gray-600"><%= t(".id") %></div>
  <div class="font-bold"><%= @email_address.id %></div>
</div>

<% if @email_address.user.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".user") %></div>
    <% if can?(:show, @email_address.user) %>
      <strong class="font-bold">
        <%= link_to @email_address.user, @email_address.user, class: "link" %>
      </strong>
    <% else %>
      <strong class="font-bold"><%= @email_address.user %></strong>
    <% end %>
  </div>
<% end %>

<% if @email_address.email_address.present? %>
  <div class="p">
    <div class="text-gray-600"><%= t(".email_address") %></div>
    <strong class="font-bold"><%= @email_address.email_address %></strong>
  </div>
<% end %>

<div class="p">
  <div class="text-gray-600"><%= t(".primary") %></div>
  <strong class="font-bold"><%= @email_address.primary? %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".verified") %></div>
  <strong class="font-bold"><%= @email_address.verified? %></strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".updated_at") %></div>
  <strong class="font-bold">
    <%= local_time(@email_address.updated_at) %>
  </strong>
</div>

<div class="p">
  <div class="text-gray-600"><%= t(".created_at") %></div>
  <strong class="font-bold">
    <%= local_time(@email_address.created_at) %>
  </strong>
</div>

<div class="p">
  <%= link_to t(".edit"), [:edit, @email_address], class: "link" %>
  <%= render "shared/confirm", text: t(".delete"), url: @email_address %>
</div>
