<!DOCTYPE html>
<html>
  <head>
    <title><%= strip_tags(title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag("tailwind", data: { turbo_track: "reload" }) %>
    <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>
  </head>
  <body
    class="p-8 border-t-4 <%= Current.border_env %>"
    data-hotwire-native="<%= hotwire_native_app? %>"
  >
    <script>
      window.DEFAULT_COUNTRY_CODE = "<%= default_country_code %>";
      window.time_zone = "<%= current_time_zone %>";
      window.translations = <%= t(".js").to_json.html_safe %>;
      window.platform = "<%= browser.platform %>";
      window.RECAPTCHA_SITE_KEY = "<%= recaptcha_site_key %>";
      window.GOOGLE_MAPS_API_KEY = "<%= google_maps_api_key %>";
    </script>

    <div data-controller="update-time-zone"></div>
    <div data-controller="bridge--csrf-token"></div>
    <div
      data-controller="bridge--tab-bar"
      data-bridge--tab-bar-tabs-ios-value="<%= ios_tabs.to_json %>"
      data-bridge--tab-bar-tabs-android-value="<%= android_tabs.to_json %>"
    ></div>
    <div
      data-controller="bridge--menu"
      data-bridge--menu-menu-ios-value="<%= ios_menu.to_json %>"
      data-bridge--menu-menu-android-value="<%= android_menu.to_json %>"
    ></div>
    <div data-controller="bridge--notification-token"></div>

    <%= render "application/menu" %>

    <% if alert.present? %>
      <div class="p text-red-600"><%= alert %></div>
    <% end %>

    <% if notice.present? %>
      <div class="p text-green-600"><%= notice %></div>
    <% end %>

    <% unless hotwire_native_app? %>
      <h1 class="font-bold p"><%= title %></h1>
    <% end %>

    <%= yield %>
  </body>
</html>
