<!DOCTYPE html>
<html>
  <head>
    <title><%= strip_tags(title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag("tailwind", data: { turbo_track: "reload" }) %>
    <meta name="turbo-refresh-method" content="morph" />
    <meta name="turbo-refresh-scroll" content="preserve" />
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body
    class="min-h-dvh flex flex-col p-8 border-t-4 <%= Current.border_env %>"
    data-hotwire-native="<%= hotwire_native_app? %>"
  >
    <script>
      window.CODE_ENV = "<%= Current.env %>";
      window.RAILS_ENV = "<%= Rails.env %>";
      window.DEFAULT_COUNTRY_CODE = "<%= default_country_code %>";
      window.time_zone = "<%= current_persisted_time_zone %>";
      window.translations = <%= t(".js").to_json.html_safe %>;
      window.platform = "<%= browser.platform %>";
      window.RECAPTCHA_SITE_KEY = "<%= recaptcha_site_key %>";
      window.GOOGLE_MAPS_API_KEY = "<%= google_maps_api_key %>";
      window.SENTRY_DSN = "<%= sentry_dsn %>";
      window.SENTRY_RELEASE = "<%= sentry_release %>";
      window.SENTRY_ENVIRONMENT = "<%= sentry_environment %>";
      window.SENTRY_FEEDBACK = <%= sentry_feedback.to_json.html_safe %>;
    </script>

    <div data-controller="update-time-zone"></div>

    <% if hotwire_native_app? %>
      <div data-controller="bridge--csrf-token"></div>
      <div data-controller="bridge--notification-token"></div>
      <div
        data-controller="bridge--tab-bar"
        data-bridge--tab-bar-tabs-ios-value="<%= ios_tabs.to_json %>"
        data-bridge--tab-bar-tabs-android-value="<%= android_tabs.to_json %>"
      ></div>

      <% if alert.present? %>
        <div
          data-controller="bridge--flash"
          data-bridge--flash-message-value="<%= alert %>"
          data-bridge--flash-type-value="alert"
        ></div>
      <% end %>

      <% if notice.present? %>
        <div
          data-controller="bridge--flash"
          data-bridge--flash-message-value="<%= notice %>"
          data-bridge--flash-type-value="notice"
        ></div>
      <% end %>

      <% unless hotwire_native_modal? %>
        <div data-controller="bridge--refresh"></div>
        <div data-controller="bridge--share"></div>
        <div
          data-controller="bridge--menu"
          data-bridge--menu-menu-ios-value="<%= ios_menu.to_json %>"
          data-bridge--menu-menu-android-value="<%= android_menu.to_json %>"
        ></div>
      <% end %>
    <% end %>

    <% unless hotwire_native_app? %>
      <%= render("layouts/menu") %>

      <% if alert.present? %>
        <div class="p text-red-600"><%= alert %></div>
      <% end %>

      <% if notice.present? %>
        <div class="p text-green-600"><%= notice %></div>
      <% end %>
    <% end %>

    <%= render_breadcrumbs %>

    <%= yield %>

    <button
      class="button button--secondary fixed bottom-0 right-0 m-4"
      data-controller="feedback"
    >
      <%= t(".feedback") %>
    </button>
  </body>
</html>
